.wrap-breadcrumb {
    margin-bottom: 15px;

    a {
        padding-top: 1px;

        >* {
            font-family: "Quicksand";
            font-weight: $font-weight-bold;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            float: left;
            margin-right: 12px;
        }

        &.active {
            font-family: "Quicksand";
            font-weight: $font-weight-bold;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            float: left;
            margin-right: 12px;
            margin-top: -3px;
            text-transform: uppercase;
        }
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    height: 24px;
    align-items: center;

    &.only-item {
        .slick-track {
            width: 100% !important;
        }
    }

    li {
        &:only-child {
            >* {
                >* {
                    white-space: break-spaces;
                }
            }
        }

        &:first-child {
            a {
                >* {
                    border-left: 0;
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }

        &:last-child {
            a {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }

    a {
        font-weight: $font-weight-medium;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;

        >* {
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 18px;
            white-space: nowrap;
            margin-left: 11px;
            padding-left: 11px;
            margin-right: 0;
            border-left: 1px solid $border-color;
        }

        &.is-active {
            color: #dc3545;
            font-size: 14px;
            line-height: 18px;
            text-transform: none;
            padding-top: 4px;
            font-family: "Merriweather";

            >* {
                color: #dc3545;
            }
        }
    }



    .slick-next {
        width: 24px;
        height: 24px;
        margin-left: 12px;
        position: absolute;
        font-size: 0;
        background: #fff url(../img/arrow-right.png) center right/24px no-repeat;
        right: 0;
        top: 0;
        padding-left: 36px;
    }
}