<p>
    <strong>INTERVIEW</strong>
</p>
<div class="interview-zone">
    <div class="itv-context">
        <p class="desc">Mô tả: Sau hành trình tại ASIAD 2018 với vị trí thứ 4 cùng Olympic VN, Quang Hải, Văn Toàn và
            trung vệ Bùi Tiến Dũng sẽ dành thời gian giao lưu cùng độc giả Zing.vn lúc 9h30 ngày 3/9.</p>
        <ul class="content">
            <li><strong>1. Thời gian</strong>: 9 giờ 30, ngày 3 tháng 9 năm 2019</li>
            <li><strong>2. Địa điểm</strong>: Số 120 đường Đình Thôn, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà
                Nội</li>
        </ul>
    </div>
    <div class="itv-invitors">
        <h3 class="box-heading"><span>Danh sách khách mời</span></h3>
        <div class="box-content">
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
        </div>
    </div>
    <!-- phần chính luôn có -->
    <span class="itv-note">Buổi giao lưu trực tuyến bắt đầu</span>
    <div class="itv-question-answer">
        <div class="item question">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content"> Không có đội hình mạnh nhất, HLV Park Hang-seo buộc phải có nhiều thử nghiệm, đặc
                    biệt ở tuyến giữa cho cuộc chơi lớn vòng loại cuối World Cup 2022 với tư tưởng không thua. </div>
            </div>
        </div>
        <div class="item question">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <table class="picture full-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/random/1920x768?sig=1"
                                        alt="1700x394"></td>
                            </tr>
                            <tr>
                                <td class="caption">Khói bốc lên từ khu công nghiệp Kaesong, được cho là hệ quả khi
                                    Triều Tiên cho nổ văn phòng liên lạc liên Triều. Ảnh: NK News.</td>
                            </tr>
                        </tbody>
                    </table>
                    Không có đội hình mạnh nhất, HLV Park Hang-seo buộc phải có nhiều thử nghiệm, đặc biệt ở tuyến giữa
                    cho cuộc chơi lớn vòng loại cuối World Cup 2022 với tư tưởng không thua.
                </div>
            </div>
        </div>
        <div class="item anwser">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <table class="picture" align="right">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/random/550x350?sig=1"
                                        alt="550x350"></td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>caption 1 : Một quả bom nổ… chia đôi nỗi niềm </p>
                                    <p>caption 2 : Thêm 5 ngư dân trên tàu cá ở Bình Thuận bị nạn được cứu sống</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Kính thưa quý vị,</p>
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                </div>
            </div>
        </div>
        <div class="item anwser">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <table class="picture" align="left">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/random/300x200?sig=1"
                                        alt="300x200"></td>
                            </tr>
                            <tr>
                                <td class="caption">Khói bốc lên từ khu công nghiệp Kaesong, được cho là hệ quả khi
                                    Triều Tiên cho nổ văn phòng liên lạc liên Triều. Ảnh: NK News.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Kính thưa quý vị,</p>
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                </div>
            </div>
        </div>
        <div class="item anwser">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <p>Kính thưa quý vị,</p>
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <table class="video">
                        <tbody>
                            <tr>
                                <td>
                                    <video width="1110" height="540" controls>
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg"> Your browser does not support the
                                        video tag. </video>
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>caption 1 : Một quả bom nổ… chia đôi nỗi niềm </p>
                                    <p>caption 2 : Thêm 5 ngư dân trên tàu cá ở Bình Thuận bị nạn được cứu sống</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                    <table class="picture max-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/random/1920x768?sig=1"
                                        alt="1700x394"></td>
                            </tr>
                            <tr>
                                <td class="caption">Khói bốc lên từ khu công nghiệp Kaesong, được cho là hệ quả khi
                                    Triều Tiên cho nổ văn phòng liên lạc liên Triều. Ảnh: NK News.</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="picture full-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/random/1920x768?sig=1"
                                        alt="1700x394"></td>
                            </tr>
                            <tr>
                                <td class="caption">Khói bốc lên từ khu công nghiệp Kaesong, được cho là hệ quả khi
                                    Triều Tiên cho nổ văn phòng liên lạc liên Triều. Ảnh: NK News.</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- END : phần chính luôn có -->
    <div class="itv-interaction">
        <h3 class="box-heading"><span>Giao lưu với độc giả</span></h3>
        <form>
            <div class="field">
                <textarea class="textarea" placeholder="Nội dung câu hỏi *" rows="6"></textarea>
            </div>
            <div class="field">
                <input class="input" placeholder="Họ và tên * ">
                <input class="input" placeholder="Email *">
            </div>
        </form>
        <div class="wrap-btn"><button class="btn-submit">Gửi câu hỏi</button></div>
    </div>
</div>