@mixin heading {
    .heading {
        font-family: "Oswald";
        font-weight: $font-weight-medium;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
        display: flex;
        align-items: center;

        i {
            margin-right: 5px;

            &::before {
                font-size: 26px;
            }
        }
    }
}