<!-- modal login -->
<div class="modal" data-target="loginModal">
  <div class="modal-header">
    <h5 class="modal-title">Đăng nhập</h5>
    <button type="button" class="btn-close">Đóng</button>
  </div>
  <div class="modal-body scroll">
    <div class="form-group">
      <label for="">Email đã đăng ký với VietnamPlus</label>
      <input type="email" class="form-control" />
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="form-group">
      <label for="">Mật khẩu tài khoản</label>
      <div class="d-flex">
        <input type="password" class="form-control" />
        <i class="ic-eye slash"></i>
      </div>
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="text-notice">
      <input type="checkbox" />
      <label class="form-check-label">Lưu mật khẩu </label>
      <a href="#" class="forget-password">Quên mật khẩu</a>
    </div>
    <button type="button" class="btn-submit">Đăng nhập</button>
    <p class="text-decor">hoặc tiếp tục với</p>
    <div class="social-group">
      <a href="#" class="fb">fb</a>
      <a href="#" class="zl">zl</a>
      <a href="#" class="gg">gg</a>
    </div>
    <div class="text-notice text-center">
      <label class="form-check-label">Chưa có tài khoản?</label>
      <a href="#">Đăng ký ngay</a>
    </div>
  </div>
</div>

<!-- modal register -->
<div class="modal" data-target="registerModal">
  <div class="modal-header">
    <h5 class="modal-title">Đăng ký</h5>
    <button type="button" class="btn-close">Đóng</button>
  </div>
  <div class="modal-body scroll">
    <div class="form-group">
      <label for="">Email đã đăng ký với VietnamPlus</label>
      <input type="email" class="form-control" />
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="form-group">
      <label for="">Mật khẩu tài khoản</label>
      <div class="d-flex">
        <input type="password" class="form-control" />
        <i class="ic-eye slash"></i>
      </div>
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="form-group">
      <label for="">Xác nhận mật khẩu</label>
      <div class="d-flex">
        <input type="password" class="form-control" />
        <i class="ic-eye slash"></i>
      </div>
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="recaptcha">
      <img src="https://www.dstny.se/app/uploads/captcha-norobot.png" alt="" />
    </div>
    <p class="text-notice">
      <input type="email" class="form-control" />
      <label for="">Đồng ý với <a href="#">Quy Định</a> của toà soạn</label>
    </p>
    <button type="button" class="btn-submit">Đăng ký</button>
  </div>
</div>

<!-- modal vote -->
<div class="modal" data-target="voteModal">
  <div class="modal-header">
    <h5 class="modal-title">Kết quả</h5>
    <button type="button" class="btn-close">Đóng</button>
  </div>
  <div class="modal-body scroll">
    <h4 class="heading-body">
      Liệu có nên phạt nặng các học sinh đánh nhau, tổ chức đánh người trong môi
      trường giáo dục không ?
    </h4>
    <div class="modal-vote">
      <ul class="">
        <li>
          <div class="info-result">
            <div class="text">Tăng cường giáo dục</div>
            <div class="color-bar">
              <span percent="91" class="color-result" style="width: 91%">
                <label class="text-result">91%</label>
              </span>
            </div>
            <div class="number">
              <label>2.330</label>
              phiếu
            </div>
          </div>
        </li>
        <li>
          <div class="info-result">
            <div class="text">Đình chỉ học tập</div>
            <div class="color-bar">
              <span percent="91" class="color-result" style="width: 9%">
                <label class="text-result">9%</label>
              </span>
            </div>
            <div class="number">
              <label>2.33</label>
              phiếu
            </div>
          </div>
        </li>
        <li>
          <div class="info-result">
            <div class="text">Tăng cường giáo dục</div>
            <div class="color-bar">
              <span percent="91" class="color-result" style="width: 9%">
                <label class="text-result">9%</label>
              </span>
            </div>
            <div class="number">
              <label>2.33</label>
              phiếu
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix">
        <span class="total-vote">Tổng Cộng: <label>2.552 phiếu</label></span>
      </div>
    </div>
  </div>
</div>

<!-- modal comment -->
<div class="modal" data-target="commentModal">
  <div class="modal-header">
    <h5 class="modal-title">Kết quả</h5>
    <button type="button" class="btn-close">Đóng</button>
  </div>
  <div class="modal-body scroll">
    <div class="form-group">
      <label for="">Email của bạn</label>
      <input type="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Tên hiển thị khi bình luận</label>
      <input type="type" class="form-control" />
      <small class="form-text">Bạn chưa nhập tên hiển thị.</small>
    </div>
    <div class="form-group">
      <label for="">Nhập bình luận</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
  </div>

</div>

<!-- modal forget password -->
<div class="modal" data-target="forgetPassModal">
  <div class="modal-header">
    <h5 class="modal-title">Quên mật khẩu</h5>
    <button type="button" class="btn-close">Đóng</button>
  </div>
  <div class="modal-body scroll">
    <div class="heading-body">Nhập email của bạn để lấy lại mật khẩu</div>
    <div class="form-group">
      <input type="email" class="form-control" />
    </div>
    <div class="recaptcha">
      <img src="https://www.dstny.se/app/uploads/captcha-norobot.png" alt="" />
    </div>
    <button type="button" class="btn-submit">lấy lại mật khẩu</button>
  </div>
</div>

<!-- modal global -->
<div class="modal" data-target="globalModal">
  <div class="modal-header">
    <h5 class="modal-title">Đây là tên của modal</h5>
    <button type="button" class="btn-close" data-dismiss="modal">Đóng</button>
  </div>
  <div class="modal-body scroll w-650">
    <h4 class="heading-body">Đây là headingggg... của modal</h4>
    <p class="text-center">đây là text căn giữa</p>
    <p class="text-left">đây là text căn trái</p>
    <p class="text-right">đây là text căn phải</p>
    <p class="inline-block">đây là text có thẻ <a> aaaaaaaa</a> ở trong</p>
    <div class="inline-block">đây là text có thẻ <a> aaaaaaaa</a> ở trong</div>
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
    </table>
    <h1>Đây là thẻ h1</h1>
    <h2>Đây là thẻ h2</h2>
    <h3>Đây là thẻ h3</h3>
    <h4>Đây là thẻ h4</h4>
    <h5>Đây là thẻ h5</h5>
    <div class="form-group">
      <label for="">Đây là tên của select</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Đây là tên của input</label>
      <input type="email" class="form-control" />
      <small class="feedback">Bạn chưa nhập email.</small>
    </div>
    <div class="form-group">
      <label for="">Đây là tên của input</label>
      <div class="d-flex">
        <input type="password" class="form-control" />
        <i class="ic-eye slash"></i>
      </div>
    </div>
    <div class="form-group">
      <label for="">Đây là tên của textarea</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="recaptcha">
      <img src="https://www.dstny.se/app/uploads/captcha-norobot.png" alt="" />
    </div>
    <div class="text-notice">
      <input type="checkbox" />
      <label class="form-check-label"
        >Đồng ý với
        <a
          href="https://policies.google.com/privacy"
          rel="nofollow"
          target="_blank"
          >Quy Định</a
        >
        của tòa soạn</label
      >
    </div>
    <button type="button" class="btn-submit">submit</button>
  </div>
</div>

<!-- modal short video -->
<div class="modal video-modal" data-target="videoDetail">
  @@include('../box-style/video-detail/video-detail.html')
</div>