.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1009;
}

.modal-open {
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        padding-right: 17px;
    }

    .site-header .region-menu.fixed {
        @include media-breakpoint-up(lg) {
            width: calc(100% - 17px);
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--white, #fff);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    max-width: calc(100% - 30px);
    height: fit-content;


    @include media-breakpoint-up(lg) {
        max-width: fit-content;
    }

    .modal-header {
        border-radius: 12px 12px 0px 0px;
        border-bottom: 1px solid var(--gray-200, #e9ecef);
        background: var(--gray-100, #f8f9fa);
        padding: 15px 45px 15px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .modal-title {
            color: var(--black, #000);
            font-size: 28px;
            font-weight: var(--font-weight-semibold);
            line-height: 160%;
        }

        .btn-close {
            width: 20px;
            height: 20px;
            font-size: 0;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                position: absolute;
                content: "\e908";
                color: var(--gray-500, #adb5bd);
                font-size: 20px;
                font-family: "icomoon";
            }
            &:hover
            {
                &::before {
                    color: var(--black, #000);
                }
            }
        }
    }

    .modal-footer {
        padding-top: 16px;
        border-top: 1px solid #e9ecef;
        display: flex;
        justify-content: center;
        align-items: center;
        clear: both;

        >* {
            padding: 6px;
            border-radius: 4px;
            border: 1px solid #ccc;
            height: 40px;
            font-size: 16px;
            width: 160px;
            transition: 0.2s;
            margin-left: 23px;

            &:last-child {
                margin-left: 0;
            }
        }


        .btn-close {
            background: var(--white, #fff);
            font-weight: normal;
            color: var(--black, #000);
            outline: none;

            &:hover {
                border: 1px solid #6c757d;
            }
        }


    }

    .modal-body {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 400px;
        font-size: 16px;
        padding: 20px 50px 30px;

        @include media-breakpoint-up(lg) {
            max-height: 412px;
            max-width: 500px;
            width: 500px;
        }

        // 1280
        @include media-breakpoint-up(xl) {
            max-height: 550px;
        }

        >* {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .d-flex {
            display: flex;
        }

        // style for form group
        .form-group {
            position: relative;
            padding-top: 10px;

            >* {
                margin-bottom: 6px;
                display: block;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            label {
                color: var(--gray-600, #6c757d);
                font-size: 14px;
                position: absolute;
                top: 5px;
                left: 10px;
                background: var(--white, #fff);
                width: fit-content;
                padding: 0 10px;
                z-index: 1;
                margin-bottom: 0;
            }

            input.form-control,
            .form-select {
                border-radius: 6px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                background: var(--white, #fff);
                width: 100%;
                height: 50px;
                padding: 0px 16px;

                &::placeholder {
                    font-size: 14px;
                }
            }

            textarea {
                padding: 10px;
                border-radius: 6px;
                border: 1px solid rgba(0, 0, 0, 0.10);
            }

            .form-text {
                font-size: 13px;
                color: var(--primary, #980700);
            }
        }

        .recaptcha {
            text-align: center;

            img {
                width: 250px;
            }
        }

        // style for text
        .text-center,
        .text-left,
        .text-right {
            font-size: 16px;
        }

        .text {
            &-center {
                text-align: center;
                justify-content: center;
            }

            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }
        }


        // style for heading body
        .heading-body {
            color: var(--gray-800, #343a40);
            font-size: 18px;
            font-weight: var(--font-weight-semibold);
        }

        // style for table
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid var(--gray-300, #dee2e6);
            text-align: left;
            padding: 8px;
        }

        // style
        .inline-block {
            >* {
                display: inline-block;
            }

            a {
                color: red;
            }
        }

        .form-check-label {
            display: flex;
            margin-bottom: 0;
        }

        .text-notice {
            color: #888;
            font-size: 14px;
            font-weight: var(--font-weight-normal);
            line-height: 150%;
            display: flex;
            align-items: center;

            input {
                margin-right: 8px;
                border-radius: 2px;
                border: 1px solid rgba(0, 0, 0, 0.20);
                background: var(--white, #fff);
                width: 16px;
                height: 16px;
            }

            a {
                color: #0b699e;
                margin: 0 5px;
            }

            .forget-password {
                margin-left: auto;
            }

            label {
                margin-bottom: 0;
            }
        }

        .forgot-password {
            display: inline;
            color: #0b699e;
        }

        .feedback {
            color: var(--primary, #980700);
            font-size: 13px;
        }

        // INFO :  style for scroll
        &.scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 4px var(--white, #fff);
            border-radius: 6px;
            background-color: var(--white, #fff);
        }

        &.scroll::-webkit-scrollbar {
            width: 4px;
            background: var(--border-color);
        }

        &.scroll::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: var(--border-color);
        }

        .btn-submit {
            border-radius: 6px;
            background: linear-gradient(258deg, #D10A01 0%, #9B0701 95.34%);
            height: 52px;
            color: var(--white, #fff);
            font-size: 20px;
            line-height: 160%;
            text-transform: uppercase;
            width: 100%;
        }

        .text-decor {
            color: #888;
            font-size: 14px;
            font-weight: var(--font-weight-normal);
            line-height: 150%;
            position: relative;
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            align-items: center;
            gap: 16px;

            &::after,
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                background: rgba(0, 0, 0, 0.10);
            }
        }

        .social-group {
            display: grid;
            gap: 12px;
            margin-bottom: 15px;

            >* {
                width: 100%;
                height: 48px;
                padding: 0px 24px;
                font-size: 0;
                border-radius: 6px;
                transition: 0.3s;

                &.fb {
                    background: url("../img/facebook.png") center center no-repeat rgba(59, 89, 152, 0.10);
                }

                &.zl {
                    background: #EBEDFC url("../img/zalo.png") center center no-repeat;
                }

                &.gg {
                    background: url("../img/google.png") center center no-repeat rgba(204, 64, 52, 0.10);
                }

                &:hover {
                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
                }
            }
        }
    }

}

// Modal Vote
.modal-vote {

    li {
        width: 100%;
        float: left;
        margin: 0 0 10px;
        padding: 0 0 15px;
        border-bottom: 1px dotted #ccc;

        &:last-child {
            border-bottom: none;
        }
    }

    .text {
        width: 30%;
        float: left;
        font: 13px arial;
        color: #555;
        padding-right: 15px;
    }

    .number {
        width: 18%;
        float: right;
        font: 12px arial;
        color: #999;
        text-align: right;

        label {
            color: var(--black, #000);
        }
    }

    .color-bar {
        width: 50%;
        float: left;
        margin: 5px 0;
        height: 5px;
        background: #ccc;

        .color-result {
            position: relative;
            background: var(--primary, #980700);
            float: left;
            height: 5px;
        }

        .text-result {
            display: inline-block;
            padding: 5px 0 0;
            position: absolute;
            right: 0;
            bottom: -20px;
            font: 11px arial;
            color: var(--black, #000);
        }
    }

    .total-vote {
        float: right;
        font: 400 13px arial;
        color: #666;

        label {

            font-weight: var(--font-weight-semibold);
        }
    }
}

// only login form

.modal-body:has(> .w-650) {
    max-width: fit-content;
    width: fit-content;
}

.w-650 {
    width: 650px !important;
}

.modal-body {

    .d-flex {
        display: flex;
        justify-content: space-between;
        position: relative;

        input {
            padding-right: 40px !important;
        }

        >* {
            width: calc(50% - 16px);

            >* {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .ic-eye {
            position: absolute;
            padding: 13px 10px;
            width: 35px;
            right: 0;
            cursor: pointer;
            height: 50px;
            bottom: 0;
            background: url(../img/eye.svg) center center/18px no-repeat;

            &.slash {
                &::after {
                    position: absolute;
                    content: "";
                    width: 21px;
                    height: 1px;
                    top: 25px;
                    left: 7px;
                    background: var(--black, #000);
                    transform: rotate(32deg);
                }
            }
        }

        .rank-1 {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                border-left: 1px solid #ccc;
                width: 1px;
                height: 90%;
                right: -16px;
                top: 50%;
                transform: translateY(-50%);

            }
        }
    }

    .rank-1,
    .rank-2 {
        >* {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .social {
        a {
            color: var(--white, #fff);
            font-weight: 600;
            height: 46px;
            background: #979797;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        i {
            font-size: 16px;
            margin-right: 6px;
        }

        .fb {
            background: #3B5998;
        }

        .zl {
            background: #008FE5;
        }

        .gg {
            background: #DB4437;
        }
    }
}