.box-covid {
    background: $white;

    .box-heading {
        padding: 10px 16px;
        background: url(../img/banner-covid.png) center center/300px no-repeat;
    }

    .heading {
        font-family: "Oswald";

        font-weight: $font-weight-medium;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;

        &:hover {
            color: #fff !important;
        }
    }

    .des {
        font-family: "Quicksand";

        font-weight: $font-weight-bold;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
        margin-top: 5px;
    }

    .box-content {
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 32px 16px 16px;

        >* {
            margin-top: 12px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .wrap {
        justify-content: space-between;
        display: flex;
    }

    .title {
        font-family: "Quicksand";

        font-weight: $font-weight-bold;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
    }

    .total {


        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: 150%;
        color: $primary;
        margin: 0;
    }

    .up,
    .down {


        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: 150%;
        color: #e21f26;
        margin: 0;
    }

    .down {
        color: $primary;
    }
}