<footer class="site-footer container">
    <div class="row">
        <div class="row">
            <a href="" class="logo"></a>
            <div class="info">
                <p> <span class="bold">Tổng Biên tập</span> : Lê Trường Giang</p>
                <p> <span class="bold">Phó Tổng Biên tập</span> : Lưu Thị Nụ - Nguyễn Đức Hoàng</p>
                <p> <span class="bold">Điện thoại </span> :0214.3840.046 <span class="bold">- Fax </span> :
                    0214.3840.921</p>
                <p> <span class="bold">Email </span> : baolaocaidientu@gmail.com</p>

            </div>
        </div>
        <div class="info align-left">
            <p> <span class="bold">Trụ sở</span> :Tầng 6, khối 4, đường 30 tháng 4, P.Bắc Lệnh, T.P Lào Cai.</p>
            <p>Giấy phép xuất bản số :<span class="bold">150/GP-BTTTT</span> </p>
            <p>Bộ Thông tin và Truyền thông cấp ngày 22/03/2022</p>
            <p>Powered by ePi Technologies</p>
        </div>
    </div>
    <div class="row">
        <p class="text">Ghi rõ nguồn “Báo Lào Cai điện tử” khi sử dụng thông tin trang này.</p>
    </div>
</footer>