<footer class="site-footer">
  <div class="networks">
    <div class="swiper">
      <div class="swiper-wrapper">
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item6-1446.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item7-4707.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item8-4458.png" alt="" class="swiper-slide item" />
          <!-- <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item11-5966.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item2-9530.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_24/item1-8091.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item3-7732.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item4-5670.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item5-3792.png" alt="" class="swiper-slide item" />
          <img src="https://image-vnp.epi.vn/Uploaded/2023/firns/2023_10_25/item6-1446.png" alt="" class="swiper-slide item" /> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
        <a href="#" class="logo">logo</a>
        <p class="upper">Cơ quan chủ quản: THÔNG TẤN XÃ VIỆT NAM</p>
        <p>Tổng Biên tập TRẦN TIẾN DUẨN</p>
        <p>Phó Tổng Biên tập : ĐOÀN NGỌC THU</p>
    </div>
     <div class="info">
        <ul class="menu">
            <li><a href="#">Sở hữu trí tuệ</a></li>
            <li><a href="#">Quy định sử dụng</a></li>
            <li><a href="#">RSS</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <!-- <li><a href="#">Ngôn ngữ</a></li>
            <li><a href="#">TTXVN</a></li>
            <li><a href="#">Dịch vụ tin</a></li>
            <li><a href="#">Quảng cáo</a></li>
            <li><a href="#">Liên hệ</a></li> -->
        </ul>
        <p>Giấy phép số: 1374/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 11/9/2008.</p>
        <p>Quảng cáo: Phó TBT Đoàn Ngọc Thu: 098.320.8989, Email: thudoanngoc@gmail.com</p>
        <p>Điện thoại: (024) 39411349 - (024) 39411348, Fax: (024) 39411348</p>
        <p>Email: vietnamplus2008@gmail.com</p>
        <p>© Bản quyền thuộc về VietnamPlus, TTXVN. Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.</p>
     </div>
  </div>
</footer>