<footer class="site-footer container">
    <div class="row">
        <div class="row">
            <a href="" class="logo"></a>
            <div class="info">
                <p> <span class="bold">Tổng Biên tập</span> : </p>
                <p> <span class="bold">Phó Tổng Biên tập</span> : </p>
                <p> <span class="bold">Điện thoại </span> : <span class="bold">- Fax </span> :
                    </p>
                <p> <span class="bold">Email </span> : dientu@gmail.com</p>

            </div>
        </div>
        <div class="info align-left">
            <p> <span class="bold">Trụ sở</span> </p>
            <p>Giấy phép xuất bản số :<span class="bold">BTTTT</span> </p>
            <p>Bộ Thông tin và Truyền thông cấp ngày 22/03/2022</p>
            <p>Powered by ePi Technologies</p>
        </div>
    </div>
    <div class="row">
        <p class="text">Ghi rõ nguồn “Báo điện tử” khi sử dụng thông tin trang này.</p>
    </div>
</footer>