<div class="multimedia">
    <h3 class="box-heading">
        <a href="#" class="heading">Đa phương tiện</a>
        <ul class="list-social">
            <li><a href="#" class="media">Truyền hình</a></li>
            <li><a href="#" class="magazine">E-Magazine</a></li>
            <li><a href="#" class="youtube">Youtube</a></li>
            <li><a href="#" class="podcasts">Podcast</a></li>
        </ul>
    </h3>
    <div class="box-content">
        @@for (var i=0; i < 6; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="#" title="">
                        <img src="https://source.unsplash.com/random/297x168?sig=1" alt="">
                    </a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Kỹ sư người Nghệ đặt nền móng cho ngành luyện kim Việt Nam
                    </a>
                </h5>
                <div class="story__summary">
                    (Baonghean.vn) -Sau 2,5 ngày làm việc nghiêm túc, khẩn trương, với tinh thần dân chủ, đổi mới và
                    trách nhiệm cao, Kỳ họp thứ 4, HĐND tỉnh khóa 18, nhiệm kỳ 2021-2026 đã hoàn thành toàn bộ nội dung,
                    chương trình đề ra và tiến hành bế mạc. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Eveniet mollitia consequuntur blanditiis, numquam ut sunt incidunt a iusto minus eos repudiandae!
                    Facilis, rem dolores repellendus neque totam magni fugiat accusantium!
                </div>
            </article>
        }
    </div>
</div>