.multimedia {
    background: #fff3cd;
    padding: 10px 0 24px;
    margin: 0 -16px;
    margin-top: 24px;

    .heading {
        display: block;
        font-size: 0;
        width: 100%;
        height: 58px;
        background: url(../img/heading-multimedia.png) center center/253px no-repeat;
        pointer-events: none;
    }

    .list-social {
        display: flex;
        align-items: center;
        justify-content: center;

        li:first-child {
            a {
                margin-left: 0;

                &::before {
                    display: none;
                }
            }
        }

        a {
            font-family: "Quicksand";
            font-weight: $font-weight-bold;
            line-height: 20px;
            color: #ff0000;
            position: relative;
            margin-left: 22px;
            font-size: 12px;
            display: block;

            @media (min-width:375px) {
                font-size: 15px;
            }

            &::before {
                position: absolute;
                content: "";
                background: url(../img/icon.png) center top -2px/7px no-repeat;
                width: 9px;
                height: 20px;
                left: -16px;
                top: 4px;
            }
        }

        .media {
            color: #59359A;
        }

        .youtube {
            color: #ff0000;
        }

        .podcasts {
            color: #20c997;
        }

        .magazine {
            color: #ffc107;
        }
    }

    .box-content {
        margin-top: 16px;
        padding: 0 39px;
    }

    .story {
        text-align: center;
        width: 256px;

        @media (min-width: 360px) {
            width: 296px;
        }

        @media (min-width: 376px) {
            margin-right: 10px;
        }

        &__heading a {
            font-weight: $font-weight-bold;
            font-size: 15px;
            line-height: 24px;
            color: #212529;
            padding: 16px 16px 0;
        }

        &__thumb {
            min-height: 168px;
        }

        &__summary {
            font-family: "Quicksand";
            padding: 8px 16px 0;
            font-weight: $font-weight-normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #343a40;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            /* number of lines to show */
            line-clamp: 7;
            -webkit-box-orient: vertical;

        }
    }

    .prevArrow,
    .nextArrow {
        width: 25px;
        height: 30px;
        display: block;
        position: absolute;
        top: 72px;
    }

    .prevArrow {
        background: url(../img/control-left.png) center center/25px no-repeat;
        left: 5px;
    }

    .nextArrow {
        background: url(../img/control-right.png) center center/25px no-repeat;
        right: 5px;
    }
}