<div class="abf-cate">
    <div class="top">
        <article class="story">
           <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/460x300?sig=1" alt="460x300 (3x2)"></a>
           </figure>
           <h5 class="story__heading">
               <a href="#">
                Thủ tướng Chính phủ dự chỉ đạo Hội nghị trực tuyến tổng kết ngành Tài chính
               </a>
           </h5>
           <div class="story__summary">
               <p>
                (Baonghean.vn) - Phát biểu chỉ đạo tại Hội nghị, Thủ tướng Chính phủ Phạm Minh Chính đánh giá cao vai trò, kết quả ngành Tài chính đạt được trong năm qua; đồng thời chỉ đạo ngành Tài chính tiếp tục làm tốt vai trò tham mưu chiến lược.
               </p>
           </div>
        </article>
        <article class="story">
           <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/460x300?sig=1" alt="460x300 (3x2)"></a>
           </figure>
           <h5 class="story__heading">
               <a href="#">
                Nghệ An: 'Loạn' bánh kẹo trôi nổi dịp cận Tết
               </a>
           </h5>
           <div class="story__summary">
               <p>
                 (Baonghean.vn) - Cận Tết, nhu cầu mua sắm các loại bánh kẹo, mứt, các loại hạt tăng cao. Ở các chợ dân sinh, các mặt hàng này được bày bán tràn lan với giá cả đa dạng, song đáng nói là hầu hết các sản phẩm bánh kẹo này đều không rõ nguồn
               </p>
           </div>
        </article>
    </div>
    <div class="bottom">
      <article class="story">
        <figure class="story__thumb">
             <a href="#" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)"></a>
        </figure>
        <h5 class="story__heading">
            <a href="#">
             Thủ tướng Chính phủ dự chỉ đạo Hội nghị trực tuyến tổng kết ngành Tài chính
            </a>
        </h5>
        <div class="story__summary">
            <p>
             (Baonghean.vn) - Phát biểu chỉ đạo tại Hội nghị, Thủ tướng Chính phủ Phạm Minh Chính đánh giá cao vai trò, kết quả ngành Tài chính đạt được trong năm qua; đồng thời chỉ đạo ngành Tài chính tiếp tục làm tốt vai trò tham mưu chiến lược.
            </p>
        </div>
     </article>
     <article class="story">
       <figure class="story__thumb">
            <a href="#" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)"></a>
       </figure>
       <h5 class="story__heading">
           <a href="#">
            Thủ tướng Chính phủ dự chỉ đạo Hội nghị trực tuyến tổng kết ngành Tài chính
           </a>
       </h5>
       <div class="story__summary">
           <p>
            (Baonghean.vn) - Phát biểu chỉ đạo tại Hội nghị, Thủ tướng Chính phủ Phạm Minh Chính đánh giá cao vai trò, kết quả ngành Tài chính đạt được trong năm qua; đồng thời chỉ đạo ngành Tài chính tiếp tục làm tốt vai trò tham mưu chiến lược.
           </p>
       </div>
    </article>
     <article class="story">
        <figure class="story__thumb">
             <a href="#" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)"></a>
        </figure>
        <h5 class="story__heading">
            <a href="#">
             Nghệ An: 'Loạn' bánh kẹo trôi nổi dịp cận Tết
            </a>
        </h5>
        <div class="story__summary">
            <p>
              (Baonghean.vn) - Cận Tết, nhu cầu mua sắm các loại bánh kẹo, mứt, các loại hạt tăng cao. Ở các chợ dân sinh, các mặt hàng này được bày bán tràn lan với giá cả đa dạng, song đáng nói là hầu hết các sản phẩm bánh kẹo này đều không rõ nguồn
            </p>
        </div>
     </article>
    </div>
</div>