<div class="article__body">
    @@include('./../detail-page/_typo.html')
    @@include('./../detail-page/_ul-ol.html')
    @@include('./../detail-page/_table-no-class.html')
    <table class="picture full-width">
        <tbody>
            <tr>
                <td class="img"><img src="https://source.unsplash.com/random/3000x900?sig=1" alt=""></td>
            </tr>
            <tr>
                <td class="caption">Khói bốc lên từ khu công nghiệp Kaesong, được cho là hệ quả khi Triều Tiên cho nổ
                    văn phòng liên lạc liên Triều. Ảnh: NK News.</td>
            </tr>
        </tbody>
    </table>
    @@include('./../detail-page/_picture-video.html')
    @@include('./../detail-page/_quote.html')
    @@include('./../detail-page/_notebox.html')
    @@include('./../detail-page/_poll.html')
    @@include('./../detail-page/live.html')
    @@include('./../detail-page/interview.html')
    @@include('./../detail-page/_relate-topic.html', {"box-name" : "Chủ đề: Công tử Bạc Liêu"})
    @@include('./../detail-page/_related-news.html')
    @@include('./../detail-page/old-style.html')
  
    @@include('./../detail-page/author.html')

</div> <!-- end .article__body -->
<!-- article footer -->
@@include('./../detail-page/_tags.html')
@@include('./../box-comment/box-comment.html')
