<div class="multi-pack">
    <div class="container">
        <h3 class="box-heading">
            <a href="#" class="heading">CÓ THỂ BẠN QUAN tâm</a>
        </h3>
        <div class="box-content">
            @@for (var i = 0; i < 8; i++) { <article class="story">
                <figure class="story__thumb">
                    <a href="#" title=""> <img src="https://source.unsplash.com/random/300x170?sig=1"
                            alt="300x170 (16x9)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Doanh nghiệp và thanh niên tìm tiếng nói chung trong giảm thiểu ô nhiễm rác thải
                    </a>
                </h5>
                </article>
                }
        </div>
    </div>
</div>