<footer class="site-footer">
  <div class="container">
    <div class="info">
      <p>
        Giấy phép số: 1374/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày
        11/9/2008.
      </p>
      <p>
        Quảng cáo: Phó TBT Đoàn Ngọc Thu: 098.320.8989, Email:
        thudoanngoc@gmail.com
      </p>
      <p>Điện thoại: (024) 39411349 - (024) 39411348, Fax: (024) 39411348</p>
      <p>Email: vietnamplus2008@gmail.com</p>
      <p>
        © Bản quyền thuộc về VietnamPlus, TTXVN. Cấm sao chép dưới mọi hình thức
        nếu không có sự chấp thuận bằng văn bản.
      </p>
    </div>
  </div>
</footer>
<div class="back-to-top"></div>