.article__comment {
    margin-top: 30px;
    padding-top: 34px;
    background: url(../img/top-decor.png) center top/1170px 10px no-repeat;

    .box-heading {
        .title {
            font-weight: $font-weight-normal;
            font-size: 25px;
            line-height: 37px;
            text-transform: uppercase;
            font-family: $font-family-branch;
            color: #000000;
        }
    }

    .box-content {
        margin-top: 16px;
    }

    textarea {
        background: #F8F9FA;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 80px;
        padding: 16px;
        border: none;

        &::placeholder {
            font-family: $font-family-sans-serif;
            font-size: 14px;
            line-height: 21px;
            color: #6C757D;
        }
    }

    .btn-submit {
        background: $primary url(../img/comment.png) center left 16px no-repeat;
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 8px 20px 8px 46px;
        float: right;
        margin-top: 16px;
    }

    .input-comment {
        .note-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.6rem;

            >button {
                margin-top: 0;
                margin-left: auto;
            }
        }

        p {
            font-family: $font-family-sans-serif;
            font-size: 13px;
            line-height: 20px;
            color: #888888;
        }

        textarea {
            background: #F8F9FA;
            min-height: 150px;
        }
    }

    .filter-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
        background: $gray-200;
        margin-top: 30px;
        position: relative;

        .total-comment {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-medium;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            color: #343A40;
        }

        .wrap-select {
            position: relative;

            label {
                font-family: $font-family-sans-serif;
                font-size: 13px;
                line-height: 20px;
                color: #343A40;
                margin-bottom: 0;
            }

            select {
                font-family: $font-family-sans-serif;
                background: #FFFFFF url(../img/arrow.png) center right 10px/18px no-repeat;
                box-sizing: border-box;
                outline: none;
                padding: 10px;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: #555555;
                cursor: pointer;
                width: 200px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                position: relative;
                border: none;
                margin-left: 5px;
            }

            &:after {
                position: absolute;
                content: '';
                right: 10px;
                top: 16px;
            }
        }
    }

    .list-comment {
        margin-top: 32px;

        .avatar {
            width: 30px;
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 15px;
            background: #e5e5e5 url(../img/user.png) center no-repeat;
            margin-top: -6px;
            position: relative;
            display: none;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .content {
            // margin-left: 16px;
            width: 100%;

            .name {
                font-weight: $font-weight-semibold;
                font-size: 18px;
                line-height: 22px;
                color: #212529;
            }

            .text {
                font-size: 15px;
                line-height: 22px;
                color: #212529;
            }

            .action {
                margin-top: 8px;

                .like {
                    font-weight: $font-weight-medium;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6C757D;

                    &::before {
                        font-family: "icomoon";
                        content: "\e90c";
                        position: relative;
                        font-size: 19px;
                        margin-right: 4px;
                        top: 3px;
                    }

                    &.liked {
                        color: $primary;
                    }
                }

                .count {
                    margin-left: 3px;
                }

                .reply {
                    font-weight: $font-weight-medium;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6C757D;
                    margin-left: 44px;

                    &::before {
                        font-family: "icomoon";
                        content: "\e901";
                        position: relative;
                        font-size: 19px;
                        margin-right: 4px;
                        top: 3px;
                    }
                }
            }

            .wrap-reply {
                margin-top: 8px;

                .note-btn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: 1.2rem;
                }
            }
        }

        .btn-submit {
            text-transform: none;
            font-weight: $font-weight-normal;
            padding: 8px 20px 8px 42px;
        }
    }

    .wrap-outer {
        padding-top: 36px;
        margin-top: 16px;
        border-top: 1px solid $border-color;
    }


    .rank-1 {
        display: flex;
        border-top: 1px solid #DDDDDD;
        padding-top: 28px;
        margin-top: 16px;

        &:first-child {
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
        }
    }

    .rank-2 {
        margin-left: 66px;
        display: flex;
        border-top: 1px solid #DDDDDD;
        padding-top: 20px;
        margin-top: 16px;

        .wrap-comment {
            margin-top: 15px;
        }

        .w-100.mt-3 {
            justify-content: flex-end;
        }

        .comment {
            display: flex;
        }
    }

    .show-more {
        font-weight: 600;
        position: relative;
        width: 240px;
        height: 40px;
        margin: 30px auto 0;
        display: block;
        color: var(--primary-color);
        font-size: 16px;

        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .2125em;
            vertical-align: .2125em;
            content: "";
            border-top: .25em solid;
            border-right: .25em solid transparent;
            border-bottom: 0;
            border-left: .25em solid transparent;
        }
    }
}

.box-comment {
    display: grid;
    gap: 30px;

    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
        color: #212529;
        display: block;
        pointer-events: none;
    }

    .box-content {
        display: grid;
        gap: 60px;
    }

    .wrap {
        display: grid;
        gap: 8px;
    }

    .comment {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: var(--gutter);
    }

    .avatar {
        height: 40px;
        border-radius: 50%;
    }

    .action {
        >* {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #6c757d;
            position: relative;

            &::before {
                position: absolute;
                font-family: "icomoon";
            }
        }

        .reply {
            &::before {
                content: "\e901";
            }
        }

        .like {
            &::before {
                content: "\e90c";
            }
        }

    }

    textarea {
        background: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 16px 12px;
        font-size: 1.6rem;
        line-height: 1.4;
        color: #495057;
    }

    .name {
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: #212529;
    }

    .send {
        width: 150px;
        height: 35px;
        top: 0;
        background: #5b8c51;
        border-radius: 3px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-top: 8px !important;
        right: 0;
        transition: .3s;
    }
}