<div class="box-comment">
  <h3 class="box-heading">
    <a href="" class="title">bình luận</a>
  </h3>
  <div class="box-content">
    <div class="comment">
      <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
      <div class="wrap">
        <textarea rows="5" placeholder="Chia sẻ ý kiến của bạn"> </textarea>
        <div class="wrap-login">
          <span>Đăng nhập :</span>
          <i class="ic-fb"></i>
          <i class="ic-zl"></i>
          <i class="ic-gg"></i>
          <i class="ic-email"></i>
          <span>hoặc</span>
          <a href="#" class="login">Đăng ký</a>
        </div>
        <button type="button" class="send">gửi</button>
      </div>
    </div>
    <div class="comment">
      <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
      <div class="wrap">
        <p class="name">Quynhttn</p>
        <span class="text"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          dolore numquam, nam recusandae debitis modi atque harum soluta, quas
          odit quos asperiores id minima laborum odio repellat? Voluptate, non
          mollitia.
        </span>
        <div class="action">
          <a href="" class="reply">Reply</a>
          <a href="" class="like">Like</a>
        </div>
        <textarea rows="3" placeholder="Chia sẻ ý kiến của bạn"> </textarea>
        <button type="button" class="send">gửi</button>
      </div>
    </div>
    <div class="comment">
      <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
      <div class="wrap">
        <p class="name">Quynhttn</p>
        <span class="text"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          dolore numquam, nam recusandae debitis modi atque harum soluta, quas
          odit quos asperiores id minima laborum odio repellat? Voluptate, non
          mollitia.
        </span>
        <div class="action">
          <a href="" class="reply">Reply</a>
          <a href="" class="like">Like</a>
        </div>
        <div class="comment">
            <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
            <div class="wrap">
              <p class="name">Quynhttn</p>
              <span class="text"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                dolore numquam, nam recusandae debitis modi atque harum soluta, quas
                odit quos asperiores id minima laborum odio repellat? Voluptate, non
                mollitia.
              </span>
              <div class="action">
                <a href="" class="reply">Reply</a>
                <a href="" class="like">Like</a>
              </div>
            </div>
        </div>
        <div class="comment">
            <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
            <div class="wrap">
              <p class="name">Quynhttn</p>
              <span class="text"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                dolore numquam, nam recusandae debitis modi atque harum soluta, quas
                odit quos asperiores id minima laborum odio repellat? Voluptate, non
                mollitia.
              </span>
              <div class="action">
                <a href="" class="reply">Reply</a>
                <a href="" class="like">Like</a>
              </div>
              <textarea rows="3" placeholder="Chia sẻ ý kiến của bạn"> </textarea>
              <button type="button" class="send">gửi</button>
            </div>
        </div>
      </div>
    </div>
    <button type="button" class="more"></button>
  </div>
</div>
