<div class="box-comment">
  <h3 class="box-heading">
    <a href="" class="title">bình luận</a>
  </h3>
  <div class="box-content">
    <div class="comment">
      <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
      <div class="wrap">
        <textarea rows="5" placeholder="Chia sẻ ý kiến của bạn"> </textarea>
        <div class="wrap-login">
          <span>Đăng nhập :</span>
          <button class="fb">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button class="zalo"></button>
          <button class="google">
            <i class="fab fa-google"></i>
          </button>
          <button class="mail">
            <i class="far fa-envelope"></i>
          </button>
          <span>hoặc</span>
          <a href="#" class="login">Đăng ký</a>
        </div>
        <button class="send">gửi</button>
      </div>
    </div>
    <div class="comment">
      <img src="https://source.unsplash.com/featured/40x40?sig=1" alt="" class="avatar" />
      <div class="wrap">
        <p class="name">Quynhttn</p>
        <span class="text"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          dolore numquam, nam recusandae debitis modi atque harum soluta, quas
          odit quos asperiores id minima laborum odio repellat? Voluptate, non
          mollitia.
        </span>
        <div class="action">
          <a href="" class="reply">reply</a>
          <a href="" class="like"></a>
        </div>
        <textarea rows="5" placeholder="Chia sẻ ý kiến của bạn"> </textarea>
        <button class="send">gửi</button>
      </div>
    </div>
  </div>
</div>
