.header-multimedia {
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

    .container {
        max-width: 1221px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-NA {
        width: 160px;
        height: 60px;
        background: url(../img/logo-media.png) left 16px center/129px no-repeat;
        font-size: 0;
    }

    .logo-media {
        font-size: 0;
        background: url(../img/logo-media2.png) center center/320px no-repeat;
        width: 320px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .wrap-search {
        position: relative;
        margin-bottom: 0;

        input.search {
            background: #f8f9fa;
            border: 1px solid #e9ecef;
            border-radius: 20px;
            outline: none;
            padding: 10px 40px 10px 16px;
            font-family: "Oswald";
            font-weight: $font-weight-light;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            height: 40px;
            width: 250px;
            cursor: pointer;
        }

        .ic-search {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            padding: 8px;
            cursor: pointer;

            &::before {
                font-size: 20px;
            }
        }
    }

}