@import "../component/article-header/article-header.scss";
@import "../component/article-body/article-body.scss";

// style article
.article__tag {
    position: relative;
    background: url(../img/icon-key.png) left top 2px/24px no-repeat;

    .box-content {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding-left: 44px;

        a {
            background: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            margin-right: 12px;
            margin-bottom: 6px;
            padding: 4px 8px;
            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 160%;
            color: $primary;

            &:hover {
                color: $hover;
            }
        }
    }
}
@import "../component/box-comment/box-comment.scss";
