.container {
    width: 1170px !important;
    max-width: 1170px !important;
    margin-right: auto;
    margin-left: auto;
}

// layout detail-page
.col {
    display: flex;
    justify-content: space-between;

    .main-col {
        width: 780px;
    }

    .sub-col {
        width: 330px;
    }
}