.container {
    width: 1170px !important;
    max-width: 1170px !important;
    margin-right: auto;
    margin-left: auto;
}

.site-body {
    margin-top: 20px;
}

// layout detail-page
.col {
    display: flex;
    justify-content: space-between;

    >* {
        >* {
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .main-col {
        width: 780px;
    }

    .sub-col {
        width: 330px;
    }
}