.title {
    display: block;

    &:hover {
        color: $primary;
    }
}

.story {
    overflow: auto;

    figure {
        margin: 0;
    }

    &__thumb {
        border-radius: 6px;
        overflow: hidden;
        background: #ddd;

        a {
            display: flex;
            width: 100%;
            transition: transform 0.5s ease-out 0.1s;
            transition: 0.5s;
        }

        img {
            width: 100%;
            transition: transform 0.5s;
            text-indent: -9999px;
        }
    }

    &__heading a {
        display: block;
        transition: 0.5s;
        overflow: hidden;

        &:hover {
            color: $primary !important;
        }

        i {
            font-size: inherit;

            &::before {
                font-size: inherit;
            }
        }
    }

    &__summary {
        font-size: 14px;
        font-weight: $font-weight-normal;
        color: #343a40;
        display: block;
        overflow: hidden;
        margin-bottom: 0;

        >* {
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: #343a40;
            display: block;
            overflow: hidden;
            margin-bottom: 0;
        }
    }


    &__meta {
        margin-top: 8px;

        time {
            display: block;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #adb5bd;
        }

        a {
            &:hover {
                color: $primary;
            }
        }
    }

    &__sub-heading a {
        &:hover {
            color: $primary !important;
        }
    }
}