.d-flex {
    align-items: center;
    display: flex;
}

[class^="ic-"] {
    font-size: 0;
}

.site-body {
    margin-top: 24px;
    padding-bottom: 50px;
}

// INFO :  style for scroll
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $white;
    border-radius: 6px;
    background-color: $white;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    background: $border-color;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $border-color;
}

.more-news {
    padding: 12px 20px 12px 74px;
    background: #fff3cd url(../img/icon-download.png) left 20px center/30px no-repeat;
    border: 1px dashed #000;
    font-family: Oswald;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    margin: 0 auto;
    margin-top: 52px;
    cursor: pointer;
    outline: 0;
}

.zone-timeline {
    .heading {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 25px;
    }
}

.abf-cate+.zone-timeline {
    padding-top: 33px;
    border-top: 8px solid #e9ecef;
    margin-top: 31px;
}

.box-suggestion+.wrap-content.container {
    margin-top: 40px;
}

// INFO : for tags page
.wrap-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .tags {
        font-family: "Oswald";
        font-weight: $font-weight-normal;
        font-size: 32px;
        line-height: 47px;
        text-transform: uppercase;
        color: #BD1723;
        margin-bottom: 0;
    }

    .result {
        font-family: "Quicksand";
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        color: #343A40;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

// INFO : for search page
.wrap-search {
    margin-bottom: 60px;

    .region-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        >* {
            margin-bottom: 0;
        }
    }

    .keywords {
        font-family: "Oswald";
        font-weight: $font-weight-normal;
        font-size: 24px;
        line-height: 47px;
        text-transform: uppercase;
        color: #000000;

        @media (min-width: 1366px) {
            font-size: 32px;
        }

        span {
            color: #BD1723;
        }
    }

    .result {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #343A40;
        text-transform: uppercase;
    }

    .region-search {
        position: relative;
        margin: 0 auto;
        width: 600px;
        height: 64px;

        @media (min-width: 1366px) {
            width: 700px;
        }

        input {
            padding: 4px 4px 4px 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #F8F9FA;
            border: 1px solid #E9ECEF;
            outline: none;

            &::placeholder {
                font-weight: $font-weight-normal;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #ADB5BD;
            }
        }

        i {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 56px;
            height: 56px;
            background: #E21F26;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: $white;
            cursor: pointer;
        }
    }
}

// INFO : for error page
.error-page {
    background: #e7f9e9 url(../img/error.png) center left -105px/1822px no-repeat;
    margin-top: -30px;
    padding: 260px 0;
    text-align: center;
    padding-left: 500px;
    margin-bottom: -50px;

    .wrap-content {
        display: block;
    }

    .wrap-search {
        margin-bottom: 0;
    }

    .title {
        font-family: 'Merriweather';
        font-weight: $font-weight-bold;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        color: #212529;
        margin-bottom: 15px;
    }

    .des {
        margin: 0 auto;
        font-style: italic;
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #222222;
        max-width: 303px;
        margin-bottom: 27px;
    }

    .home {
        color: #BD1723;
    }

    .wrap-search {
        position: relative;
        max-width: 594px;
        height: 64px;
        margin: 0 auto;
        margin-bottom: 23px;

        input {
            width: 100%;
            height: 100%;
            position: absolute;
            background: #F8F9FA;
            border: 1px solid #E9ECEF;
            padding: 4px 4px 4px 20px;
            right: 0;
            outline: none;

            &::placeholder {
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #ADB5BD;
            }
        }

        i {
            background: #E21F26;
            border-radius: 4px;
            font-size: 24px;
            width: 56px;
            height: 56px;
            top: 4px;
            right: 4px;
            position: absolute;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .back-to-home {
        width: 125px;
        height: 35px;
        background: #CE2E0E;
        border-radius: 3px;
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 8px 18px;
        border: 1px solid #CE2E0E;
        transition: 0.3s;

        &:hover {
            background: $white;
            color: #CE2E0E;
        }
    }
}

// INFO : for location box
.location {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px !important;

    .item {
        width: calc(25% - 29px);
        background: rgba(226, 31, 38, 0.05);
        border: 1px solid rgba(226, 31, 38, 0.2);
        box-sizing: border-box;
        border-radius: 99px;
        min-height: 50px;
        padding: 13px 12px;
        display: flex;
        align-items: center;
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 26px;
        color: #E21F26;
        margin-right: 38px;
        margin-top: 16px;
        transition: 0.5s;

        i {
            &::before {
                font-size: 28px;
                margin-right: 5px;
            }
        }

        &:hover {
            background: #fff;
        }

        &:nth-child(4n+4) {
            margin-right: 0;
        }

        &:nth-child(-n+4) {
            margin-top: 0;
        }
    }
}

// INFO : for heading page

.heading-page {
    margin-bottom: 16px;

    .news {
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 12px;
    }

    .local {
        font-weight: $font-weight-bold;
        font-size: 40px;
        line-height: 140%;
        text-transform: uppercase;
        color: #212529;
    }
}

// INFO : for location-detail
.location-detail {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;

    .story {
        width: 300px;
        margin-right: 27px;
        margin-top: 36px;

        &:nth-child(3n+3) {
            margin-right: 0;
        }

        &:nth-child(-n+3) {
            margin-top: 0;
        }

        &__thumb {
            width: 100%;
            height: 200px;
        }

        &__heading a {
            font-weight: $font-weight-bold;
            font-size: 16px;
            line-height: 160%;
            color: #343A40;
            padding-top: 8px;
        }
    }
}

// override epaper
.epaper-wrapper {
    position: relative;
    overflow: hidden;

    .thumbnails {
        bottom: 130px;
    }
}

.epaper-wrapper+.related-news {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;

    .story {
        margin-top: 20px;
    }
}

// Info : modal

.modal-wraper {
    min-height: 500px;

    .btn-modal {
        font-size: 14px;
        line-height: 1.4;
        padding: 13px 20px;
        border-radius: 4px;
        border: 1px solid;
        top: 0;
        background: #fff;
    }
}

