// html global
html {
  font-size: 62.5% !important;
}

$body-bg: #fff;
$body-color: #343A40;
$font-family-sans-serif: "URW Geometric", Arial, Helvetica, sans-serif;
$font-family-serif: "Noto Serif", Arial, Helvetica, sans-serif;
$font-family-second: "Playfair Display", Arial, Helvetica, sans-serif;
$font-size-base: 1.4rem;
// $gutter-body : 12px;
// $gutter: 24px;

// Fonts-weight
$font-weight-italic: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-semibolder: 800;
$font-weight-extraBold: 900;

:root {
  --gutter-body: 12px;
  --gutter: 24px;
  --container: 730px;
  --widthScroll: 32px;

  // color
  --primary: #980700;
  --secondary: #842029;
  --title: #212529;
  --summary: #6C757D;
  --border-color: #E9ECEF;
  --hover: #980700;

  // color default
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

// INFO: Breakpoint for responsive
$sm : 576px;
$md :768px;
$lg :1024px;
$xl: 1280px;
$xxl: 1700px;
$grid-breakpoints: (
  ) !default;
$grid-breakpoints: map-merge((sm: 576px,
      md: 768px,
      lg: 1024px,
      xl: 1310px,
      xxl: 1700px,
    ),
    $grid-breakpoints
);
@import "./mixins/breakpoints";

// 768
@include media-breakpoint-up(md) {
  :root {
    --container: 730px;
  }
}

// 1024
@include media-breakpoint-up(lg) {
  :root {
    --container: 980px;
  }
}

//1280
@include media-breakpoint-up(xl) {
  :root {
    --container: 1170px;
    --gutter-body: 16px;
    --gutter: 30px;
  }
}