.live-zone {
    >* {
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }
    }

    .sticky-notification {
        margin-bottom: 40px;
        padding: 30px;
        border: 1px dashed #29535c;
        background-color: #cff4fc;
        border-radius: 10px;

        .heading {
            font-size: 18px;
            font-weight: 700;
            color: #111;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        .content {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            margin-top: 10px;
            color: #111;
            display: block;

            >* {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .auto-update-content {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #055160;
        background: #cff4fc;
        height: 50px;
        border: 1px solid #9eeaf9;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-item {
        >* {
            margin-top: 24px;

            &:first-child {
                margin-top: 0;
            }
        }

        .item {
            display: flex;
            justify-content: space-between;
        }

        .avatar {
            margin-right: 12px;
            text-align: center;
            height: 48px;
            width: 48px;
            margin-right: 12px;
            min-width: 48px;

            >* {
                width: 48px;
                height: 48px;
            }
        }

        .meta {
            min-width: 48px;
            margin-right: 12px;

            [class^="ic-"] {
                width: 48px;
                height: 48px;
                margin: 0 auto;
                display: block;
            }
        }

        .wrap-content {
            display: block;
            background: #fff;
            border: 1px solid #e9ecef;
            padding: 24px 36px 36px;
            width: 100%;
            margin-top: 0;

            >* {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .content {
                >* {
                    margin-top: 16px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            .time {
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 29px;
                color: #222;
                display: block;
            }

            .heading {
                font-family: "Quicksand";
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #212529;
                border-bottom: 1px solid;
                border-color: rgba(0, 0, 0, .1);
                padding-bottom: 20px;
            }

            video {
                width: 100%;
            }
        }
    }

    // icon live
    .ic-report {
        background: url("../img/icon-report.png") center center/48px no-repeat;
    }

    .ic-mobile {
        background: url("../img/icon-mobile.png") center center/48px no-repeat;
    }

    .ic-qoute {
        background: url("../img/icon-qoute.png") center center/48px no-repeat;
    }

    .ic-facebook {
        background: url("../img/icon-facebook.png") center center/48px no-repeat;
    }

    .ic-twitter {
        background: url("../img/icon-twitter.png") center center/48px no-repeat;
    }

    .ic-mail {
        background: url("../img/icon-mail.png") center center/48px no-repeat;
    }

    .ic-video-live {
        background: url("../img/icon-video-live.png") center center/48px no-repeat;
    }

    .ic-photo {
        background: url("../img/icon-photo.png") center center/48px no-repeat;
    }

    .ic-goal {
        background: url("../img/icon-goal.png") center center/48px no-repeat;
    }

    .ic-conner {
        background: url("../img/icon-conner.png") center center/48px no-repeat;
    }

    .ic-yellow {
        background: url("../img/icon-yellow.png") center center/48px no-repeat;
    }

    .ic-red {
        background: url("../img/icon-red.png") center center/48px no-repeat;
    }

    .ic-substitute {
        background: url("../img/icon-substitute.png") center center/48px no-repeat;
    }

    .ic-start {
        background: url("../img/icon-start.png") center center/48px no-repeat;
    }

    .ic-tatic {
        background: url("../img/icon-tatic.png") center center/48px no-repeat;
    }

    .ic-stadium {
        background: url("../img/icon-stadium.png") center center/48px no-repeat;
    }

    .ic-time-live {
        background: url("../img/icon-time-live.png") center center/48px no-repeat;
    }

    .ic-fault {
        background: url("../img/icon-fault.png") center center/48px no-repeat;
    }

    .ic-jnjure {
        background: url("../img/icon-jnjure.png") center center/48px no-repeat;
    }

    .ic-penalty {
        background: url("../img/icon-penalty.png") center center/48px no-repeat;
    }

}

.list-icon {
    margin-top: 66px !important;
    width: 540px;
    margin-left: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        width: 100px;
        height: 100px;
        text-align: center;
        margin-top: 12px;

        [class^="ic-"] {
            width: 48px;
            height: 48px;
            margin: 0 auto;
            display: block;
        }
    }

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        color: #000;
        text-transform: capitalize;
        display: block;
    }

    // icon live
    .ic-report {
        background: url("../img/icon-report.png") center center/48px no-repeat;
    }

    .ic-mobile {
        background: url("../img/icon-mobile.png") center center/48px no-repeat;
    }

    .ic-qoute {
        background: url("../img/icon-qoute.png") center center/48px no-repeat;
    }

    .ic-facebook {
        background: url("../img/icon-facebook.png") center center/48px no-repeat;
    }

    .ic-twitter {
        background: url("../img/icon-twitter.png") center center/48px no-repeat;
    }

    .ic-mail {
        background: url("../img/icon-mail.png") center center/48px no-repeat;
    }

    .ic-video-live {
        background: url("../img/icon-video-live.png") center center/48px no-repeat;
    }

    .ic-photo {
        background: url("../img/icon-photo.png") center center/48px no-repeat;
    }

    .ic-goal {
        background: url("../img/icon-goal.png") center center/48px no-repeat;
    }

    .ic-conner {
        background: url("../img/icon-conner.png") center center/48px no-repeat;
    }

    .ic-yellow {
        background: url("../img/icon-yellow.png") center center/48px no-repeat;
    }

    .ic-red {
        background: url("../img/icon-red.png") center center/48px no-repeat;
    }

    .ic-substitute {
        background: url("../img/icon-substitute.png") center center/48px no-repeat;
    }

    .ic-start {
        background: url("../img/icon-start.png") center center/48px no-repeat;
    }

    .ic-tatic {
        background: url("../img/icon-tatic.png") center center/48px no-repeat;
    }

    .ic-stadium {
        background: url("../img/icon-stadium.png") center center/48px no-repeat;
    }

    .ic-time-live {
        background: url("../img/icon-time-live.png") center center/48px no-repeat;
    }

    .ic-fault {
        background: url("../img/icon-fault.png") center center/48px no-repeat;
    }

    .ic-jnjure {
        background: url("../img/icon-jnjure.png") center center/48px no-repeat;
    }

    .ic-penalty {
        background: url("../img/icon-penalty.png") center center/48px no-repeat;
    }
}

.auto-update-content {
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #055160;
    background: #cff4fc;
    height: 50px;
    border: 1px solid #9eeaf9;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}