<h2><center> ===== Notebox =====</center></h2>
<div class="notebox">
    <p><strong>Nhà Lớn mở tiệc</strong></p>
    <table class="picture" align="left">
        <tbody>
            <tr>
                <td class="img"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt=""></td>
            </tr>
            <tr>
                <td class="caption">
                    <p>Công tử Bạc Liêu Trần Trinh Huy.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Ngày đại tiệc đã tới. Khoảng 500 quan khách đến từ khắp tỉnh Bạc Liêu và cả Nam Kỳ ngồi kín vòng trong, vòng ngoài khu Nhà Lớn. Khách sạn Tràng An ở ngay đầu đường lớn nhất thị xã Bạc Liêu xe hơi đậu chật kín. Xôm tụ nhất có lẽ là chiếc xe chở đám vũ nữ và cánh báo chí đến từ Sài Gòn. Cậu Ba chạy ra bắt tay từng nhà báo rồi đưa họ vào giới thiệu với các quan khách đã an vị. Thực đơn đãi tiệc toàn món Tàu do đầu bếp nhà hàng Chợ Lớn đích thân tới nấu.</p>
</div>
<div class="notebox nleft">
    <table class="picture" align="left">
        <tbody>
            <tr>
                <td class="img"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt=""></td>
            </tr>
            <tr>
                <td class="caption">Công tử Bạc Liêu Trần Trinh Huy.</td>
            </tr>
        </tbody>
    </table>
    <p>Ngày đại tiệc đã tới. Khoảng 500 quan khách đến từ khắp tỉnh Bạc Liêu và cả Nam Kỳ ngồi kín vòng trong, vòng ngoài khu Nhà Lớn. Khách sạn Tràng An ở ngay đầu đường lớn nhất thị xã Bạc Liêu xe hơi đậu chật kín. Xôm tụ nhất có lẽ là chiếc xe chở đám vũ nữ và cánh báo chí đến từ Sài Gòn. Cậu Ba chạy ra bắt tay từng nhà báo rồi đưa họ vào giới thiệu với các quan khách đã an vị. Thực đơn đãi tiệc toàn món Tàu do đầu bếp nhà hàng Chợ Lớn đích thân tới nấu.</p>
</div>
<p>Theo sắp xếp thì ông bà Hội đồng Trạch đứng ra chào đón quan khách, sau đó cậu Hai Đinh đọc diễn văn giới thiệu ý nghĩa của bữa đại tiệc là chào mừng ngày về của cậu Ba. Gia đình Hội đồng Trạch bấy giờ mới thấy hết giá trị của cánh nhà báo cả Tây cả ta. Họ đeo lỉnh kỉnh máy ảnh, ghi ghi chép chép, chia nhau đến mọi ngõ ngách của buổi tiệc, phỏng vấn người này, hỏi người kia, đưa máy ảnh lên hết chụp ông bà Hội đồng Trạch, tới chụp cậu Hai, rồi chụp cậu Ba. Chính cánh nhà báo đã làm cho buổi đại tiệc trở nên long trọng chưa từng thấy, các đại điền chủ khách chỉ biết há hốc mồm mà nhìn cha con Hội đồng Trạch phô diễn. Bấy giờ Hội đồng Trạch mới thấy phục “thằng Ba” con ông sát đất, nó học cao hiểu rộng, lường hết mọi chuyện, mấy trăm đồng ông bỏ ra để rước cánh nhà báo xuống dự tiệc quả là đáng đồng tiền bát gạo.</p>
<p>Cậu Ba Quy đọc diễn văn chào mừng và cảm ơn quan khách. Cậu soạn sẵn bài diễn văn cầm tay để chứng tỏ mình tôn trọng khách, nhưng chỉ cầm tờ giấy cho có lệ, còn lại cậu ứng khẩu phát biểu một bài toàn tiếng Tây lưu loát. Bài diễn văn vắn tắt nhưng sắc sảo đã làm vừa lòng mọi người, đại ý: Xứ Bạc Liêu quê mùa chứ người không quê; dân Nam có truyền thống trọng văn khinh võ, gia đình nào cũng cố gắng nuôi con ăn học thành tài theo truyền thống để cho con mớ chữ thánh hiền còn hơn để gia tài ruộng sâu trâu nái; gia đình Trần Trinh rất vinh dự khi trong buổi tiệc có sự hiện diện của các nhà trí thức đã khéo nuôi dạy con học thành tài như bác sĩ Lê Quang Trình, kỹ sư Bùi Quang Chiêu...</p>
<div class="notebox nright">
    <table class="video">
        <tbody>
            <tr>
                <td>
                    <video width="285" height="160" controls>
                        <source src="movie.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg"> Your browser does not support the video tag. </video>
                </td>
            </tr>
            <tr>
                <td class="caption">
                    <p>Công tử Bạc Liêu Trần Trinh Huy.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Ngày đại tiệc đã tới. Khoảng 500 quan khách đến từ khắp tỉnh Bạc Liêu và cả Nam Kỳ ngồi kín vòng trong, vòng ngoài khu Nhà Lớn. Khách sạn Tràng An ở ngay đầu đường lớn nhất thị xã Bạc Liêu xe hơi đậu chật kín. Xôm tụ nhất có lẽ là chiếc xe chở đám vũ nữ và cánh báo chí đến từ Sài Gòn. Cậu Ba chạy ra bắt tay từng nhà báo rồi đưa họ vào giới thiệu với các quan khách đã an vị. Thực đơn đãi tiệc toàn món Tàu do đầu bếp nhà hàng Chợ Lớn đích thân tới nấu.</p>
    <table class="picture max-width">
        <tbody>
            <tr>
                <td class="img"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt=""></td>
            </tr>
            <tr>
                <td class="caption">Công tử Bạc Liêu Trần Trinh Huy.</td>
            </tr>
        </tbody>
    </table>
</div>
<p>Rồi cậu Ba Quy chuyển sang cánh nhà báo với giọng chân tình, đại ý: Gia đình rất vinh dự được sự quan tâm của giới ngôn luận; các hiệp sĩ ngôn luận của quyền tự do thứ tư đã không ngại đường xa tới nơi cuối đất để chào mừng đứa con của đồng ruộng du học từ Pháp về; hai giới báo chí và nhà nông tuy xa cách nhau mà lại có điểm giống nhau là nhà nông lo cho bao tử, còn báo chí lo cho bộ óc của đồng bào; không có báo chí thì dân quê sống trong u tối, ngu dốt, nhờ có nhật trình mà đời sống nông thôn có chút ánh sáng văn minh... Bài diễn văn của Ba Quy được mọi người vỗ tay tán thưởng nhiều chập. Các nhà báo cả Tây lẫn ta đến bắt tay chúc mừng và cảm ơn Ba Quy vì đã đề cao nghề nghiệp của họ.</p>
<p>Đến phần phát biểu cảm tưởng của quan khách, mở đầu là quan tham biện chánh chủ tỉnh. Ông ta nói tiếng Pháp, cậu Ba Quy dịch sang tiếng Việt. Quan tham biện khen ngợi Hội đồng Trạch là người tiêu biểu nuôi con học hành đỗ đạt, điều đó minh chứng hùng hồn sứ mạng khai hóa của người Pháp. Sau đó, nhiều vị khách khác đã lần lượt lên chúc mừng gia tộc Trần Trinh vừa có hào con vừa có hào của.</p>
<p>Tiệc kéo dài đến tối, nối tiếp là buổi dạ vũ sôi động. Sáu cô vũ nữ từ Sài Gòn xuống là hạt nhân cho các quan khách cả Tây lẫn ta bu quanh. Buổi dạ vũ kéo dài suốt đêm, đèn điện sáng một góc thị xã, các ngọn cây trong vườn cũng được gắn hàng ngàn bóng đèn li ti đủ màu như bầy đom đóm lập lòe trên ngọn bần ven sông Bạc Liêu. Sáng hôm sau, cậu Ba tổ chức tắm biển Bạc Liêu cách đó chừng 7 cây số. Dân vùng biển Mỹ Thanh lần đầu tiên thấy người Sài Gòn mặc đồ tắm nhảy ùm xuống bãi biển nước đậm màu bùn. Cậu Ba đem theo nhiều súng hơi để cho khách trổ tài bắn cò, bắn chim đậu đầy quanh các vườn nhãn trên bãi biển. Rồi họ kéo vào các vườn nhãn đặc sản, loại trái to, cơm dày, hạt nhỏ để thưởng thức hương vị Bạc Liêu... Mọi người thầm thán phục, chỉ có cậu Ba Quy từ Pháp về mới tổ chức chu đáo đến nhường ấy, làm cho họ có một tiệc vui nhớ đời.</p>