<h2>
    <center> ===== Poll-box =====</center>
</h2>
<div class="poll-box">
    <h3 class="box-heading"><span>Thăm dò ý kiến</span></h3>
    <div class="box-content">
        <h5 class="desc">Mời bạn cho biết ý kiến về trang mới của chúng tôi:</h5>
        <label>
            <input type="radio" name="01">
            <span>Tốt</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Khá</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Trung bình</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Xấu</span>
        </label>
        <div class="wrap-button">
            <button class="btn btn-send">Gửi</button>
            <button class="btn btn-see btn-modal" data-target="voteModal">Xem
                kết quả</button>
        </div>
    </div>
</div>
<div class="poll-box" align="left">
    <h3 class="box-heading"><span>Thăm dò ý kiến</span></h3>
    <div class="box-content">
        <h5 class="desc">Mời bạn cho biết ý kiến về trang mới của chúng tôi:</h5>
        <label>
            <input type="radio" name="01">
            <span>Tốt</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Khá</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Trung bình</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Xấu</span>
        </label>
        <div class="wrap-button">
            <button class="btn btn-send">Gửi</button>
            <button class="btn btn-see btn-modal" data-target="voteModal">Xem
                kết quả</button>
        </div>
    </div>
</div>
<p>Trong bữa đại tiệc ngày 29/9/1930 tại Nhà Lớn mừng ngày cậu Ba Quy từ Pháp trở về, người ta thấy cậu Ba trao danh
    thiếp cho khách, trên đó ghi: Trần Trinh Huy - Proprietaire foncier - Bạc Liêu. Cậu Ba giải thích: Lật từ điển Hán -
    Việt ra xem, thấy “Quy” có nghĩa là rùa, nhưng cũng còn có nghĩa là quy đầu (của dương vật). Vẫn biết đó là bộ phận
    tối quan trọng của người đàn ông, không có nó thì không có sự sống, nhưng cậu Ba nhất định không chịu lấy nó làm tên
    cho mình, mà chọn một cái tên khác có âm gần giống là Huy. Chữ Huy ở đây có nghĩa là ánh sáng mặt trời, còn có nghĩa
    khác là ngọc (trong chữ huy thạch). Vậy là từ đó, cậu Ba Quy chính thức đổi tên là Trần Trinh Huy, cái tên gắn bó
    với danh tiếng Công tử Bạc Liêu còn lưu truyền đến hậu thế.</p>
<div class="poll-box" align="right">
    <h3 class="box-heading"><span>Thăm dò ý kiến</span></h3>
    <div class="box-content">
        <h5 class="desc">Mời bạn cho biết ý kiến về trang mới của chúng tôi:</h5>
        <label>
            <input type="radio" name="01">
            <span>Tốt</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Khá</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Trung bình</span>
        </label>
        <label>
            <input type="radio" name="01">
            <span>Xấu</span>
        </label>
        <div class="wrap-button">
            <button class="btn btn-send">Gửi</button>
            <button class="btn btn-see btn-modal" data-target="voteModal">Xem
                kết quả</button>
        </div>
    </div>
</div>
<p>Sau 3 năm “du học” bên Pháp, mà thực chất là chỉ có ăn chơi, tháng 8/1930 Trần Trinh Quy trở về nước bằng tàu thủy.
    Ông Hội đồng Trạch đã dày công tổ chức một cuộc đón rước con rình rang có một không hai thời bấy giờ, với những
    phương tiện và nghi thức không hề thua kém đón rước Vua Bảo Đại. Bắt đầu từ đây, giới ăn chơi Nam Kỳ biết đến một
    Công tử Bạc Liêu Trần Trinh Huy.
    “Hai Lúa” mua xe như Vua Bảo Đại</p>
<p>Hãng bán xe hơi ngay ngã tư Charner - Bonard (ngã tư Nguyễn Huệ - Lê Lợi, quận 1, TPHCM ngày nay) không thật niềm nở
    khi có hai người khách trong bộ dạng nhà quê ghé vào. Người lớn tuổi trong bộ đồ bà ba “lục soạn” trắng ngả màu
    phèn, ôm khư khư chiếc giỏ đệm, bên trong là cái mo cau. Ông già nhà quê và người thanh niên đi cùng xem khắp lượt
    các loại xe hơi đậu trong hãng. Sau một hồi ngắm ngắm nghía nghía, người thanh niên kéo ông già nhà quê tới bên
    chiếc xe “Huê Kỳ” (xe hơi) hiệu Chevrolet loại mới nhập cảng ở Mỹ qua, chưa ai có ở Nam Kỳ.</p>