<div class="article__author">
    <div class="author">
        <div class="info">
            <a href="" class="name">Hoài thu</a>
        </div>
    </div>
    <div class="author">
        <div class="info">
            <a href="" class="name">Hoài thu</a>
        </div>
    </div>
</div>
<div class="article__author">
    <div class="author">
        <div class="avatar">
            <img src="https://source.unsplash.com/random/100x100?sig=1" alt="24x24 (1:1)">
        </div>
        <div class="info">
            <a href="" class="name">Hoài thu</a>
        </div>
    </div>
    <div class="author">
        <div class="avatar">
            <img src="https://source.unsplash.com/random/100x100?sig=1" alt="24x24 (1:1)">
        </div>
        <div class="info">
            <a href="" class="name">Hoài thu</a>
        </div>
    </div>
</div>
<div class="article__author">
    <div class="author">
        <div class="avatar">
            <img src="https://source.unsplash.com/random/100x100?sig=1" alt="24x24 (1:1)">
        </div>
        <div class="info">
            <a href="" class="name">Hoài thu</a>
            <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
        </div>
    </div>
    <div class="author">
        <div class="avatar">
            <img src="https://source.unsplash.com/random/100x100?sig=1" alt="24x24 (1:1)">
        </div>
        <div class="info">
            <a href="" class="name">Hoài thu</a>
            <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
        </div>
    </div>
</div>