 <p>
     <strong>OLD STYLE</strong>
 </p>
 <article class="article__related-inline cms-relate">
     <figure class="story__thumb" style="width:160px; height:90px;"> <a
             href="https://baonghean.vn/nha-may-nuoc-hoa-son-san-sang-dap-ung-nhu-cau-nuoc-sach-cho-nguoi-dan-do-luong-278354.html"
             title="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" rel=""><img
                 src="https://photo-cms-baonghean.zadn.vn/c160x90/uploaded/2022/vkwdexqlxk/2020_12_02/bna_b37086627_2122020.jpg"
                 alt="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" class="cms-photo"
                 data-photo-original-src="https://photo-cms-baonghean.zadn.vn/cw1280/Uploaded/2022/vkwdexqlxk/2020_12_02/bna_b37086627_2122020.jpg"></a>
     </figure>
     <h2 class="story__title"><a
             href="https://baonghean.vn/nha-may-nuoc-hoa-son-san-sang-dap-ung-nhu-cau-nuoc-sach-cho-nguoi-dan-do-luong-278354.html"
             title="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" rel="">Nhà máy nước
             Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô
             Lương</a></h2>
     <div class="story__desc">(Baonghean.vn) - Nhà máy nước sạch xã Hòa Sơn, Đô Lương do Công
         ty CP Tư vấn đầu tư và Công nghệ môi trường HQ đầu tư, đến thời điểm này đã nghiệm
         thu, hoàn thành 100% giai đoạn I, sẵn sàng đi vào hoạt động, cấp nước sạch cho người
         dân 14 xã thuộc huyện Đô Lương.</div>
 </article>
 <article class="article__related-inline cms-relate">
     <figure class="story__thumb" style="width:160px; height:90px;"> <a
             href="https://baonghean.vn/nha-may-nuoc-hoa-son-san-sang-dap-ung-nhu-cau-nuoc-sach-cho-nguoi-dan-do-luong-278354.html"
             title="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" rel=""><img
                 src="https://photo-cms-baonghean.zadn.vn/c160x90/uploaded/2022/vkwdexqlxk/2020_12_02/bna_b37086627_2122020.jpg"
                 alt="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" class="cms-photo"
                 data-photo-original-src="https://photo-cms-baonghean.zadn.vn/cw1280/Uploaded/2022/vkwdexqlxk/2020_12_02/bna_b37086627_2122020.jpg"></a>
     </figure>
     <h2 class="story__title"><a
             href="https://baonghean.vn/nha-may-nuoc-hoa-son-san-sang-dap-ung-nhu-cau-nuoc-sach-cho-nguoi-dan-do-luong-278354.html"
             title="Nhà máy nước Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô Lương" rel="">Nhà máy nước
             Hòa Sơn sẵn sàng đáp ứng nhu cầu nước sạch cho người dân Đô
             Lương</a></h2>
     <div class="story__desc">(Baonghean.vn) - Nhà máy nước sạch xã Hòa Sơn, Đô Lương do Công
         ty CP Tư vấn đầu tư và Công nghệ môi trường HQ đầu tư, đến thời điểm này đã nghiệm
         thu, hoàn thành 100% giai đoạn I, sẵn sàng đi vào hoạt động, cấp nước sạch cho người
         dân 14 xã thuộc huyện Đô Lương.</div>
 </article>
 <!-- group 2 -->
 <div class="box-image box-16-9 box-dou">
     <div class="box-col">
         <div class="item-image">
             <a class="photo" href="" data-index="1"><img
                     src="https://photo-cms-baonghean.zadn.vn/cw607/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_image_2878799_1852018.jpg"
                     class="cms-photo"></a>
         </div>
     </div>
     <div class="box-col">
         <div class="item-image">
             <a class="photo" href="" data-index="2"><img
                     src="https://photo-cms-baonghean.zadn.vn/w1966/Uploaded/2022/eslysofjmyl/2022_03_19/02172586259_291120217823184_1932022.jpeg"
                     class="cms-photo"></a>
         </div>
     </div>
     <div class="box-desc">Sản xuất ở Trạm nghiền xi măng Nghi Thiết Ảnh: Nguyên Sơn</div>

 </div>
 <table class="image-group-2">
     <tbody>
         <tr>
             <td class="image">
                 <img
                     src="https://photo-cms-baonghean.zadn.vn/w1966/Uploaded/2022/eslysofjmyl/2022_03_19/02172586259_291120217823184_1932022.jpeg">
                 <img
                     src="https://photo-cms-baonghean.zadn.vn/cw607/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_image_2878799_1852018.jpg">
             </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Đây là caption</p>
             </td>
         </tr>
     </tbody>
 </table>
 <!-- group 3 -->

 <div class="box-image box-16-9 box-trip-sm">
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/cw800/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_image_2878799_1852018.jpg"
                 data-desc="" data-index="5"><img
                     src="https://photo-cms-baonghean.zadn.vn/cw607/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_image_2878799_1852018.jpg"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/cw1280/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_image_2878799_1852018.jpg"></a>
         </div>
     </div>
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/cw800/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_ngo_cutanh_dinh_nguyet5521803_1852018.jpg"
                 data-desc="" data-index="6"><img
                     src="https://photo-cms-baonghean.zadn.vn/cw607/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_ngo_cutanh_dinh_nguyet5521803_1852018.jpg"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/cw1280/Uploaded/2022/qvauathlrgoan/2018_05_18/bna_ngo_cutanh_dinh_nguyet5521803_1852018.jpg"></a>
         </div>
     </div>
     <div class="box-col box-col-lg">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/cw800/Uploaded/2022/qvauathlrgoan/2018_05_18/bna__ngo_cut_nhieu_anh_dinh_nguyet4509382_1852018.jpg"
                 data-desc="" data-index="7"><img
                     src="https://photo-cms-baonghean.zadn.vn/w1966/Uploaded/2022/eslysofjmyl/2022_03_19/02172586259_291120217823184_1932022.jpeg"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/cw1280/Uploaded/2022/qvauathlrgoan/2018_05_18/bna__ngo_cut_nhieu_anh_dinh_nguyet4509382_1852018.jpg"></a>
         </div>
     </div>
     <div class="box-desc">Nhiều ngõ nhỏ ở các tuyến đường Hà Huy Tập, Nguyễn Văn Cừ… như ngõ
         369, đường Nguyễn Văn Cừ (2 ảnh trên) vừa nhỏ lại vừa là ngõ cụt nên xe ô tô chỉ có thể
         đỗ cửa và lùi ra chứ rất khó quay trở. Chị Phan Thị Hồng Lĩnh, nhà ở trong ngõ này chia
         sẻ: “Các hộ trong ngõ muốn mua xe ô tô chỉ có thể mua xe 4 chỗ và phải đập cổng, lùi vào
         rất bất tiện”. Ảnh: Nguyệt Minh&nbsp; &nbsp;&nbsp;</div>
 </div>
 <table class="image-group-3">
     <tbody>
         <tr>
             <td class="image"> <img
                     src="https://photo-cms-baonghean.zadn.vn/w1000/Uploaded/2022/firns/2022_05_18/huy-hoang-9102-1652843023-3419.jpg"
                     data-image-id="8952" data-width="680" data-height="408" data-photo-original-src=""
                     cms-photo-caption="Đây là caption" class="cms-photo lazyloaded"
                     data-src="https://photo-cms-baonghean.zadn.vn/w1000/Uploaded/2022/firns/2022_05_18/huy-hoang-9102-1652843023-3419.jpg"
                     alt="Test style boxes ảnh 6"> <img src="https://source.unsplash.com/random/700x394?sig=1"
                     data-image-id="8955" data-width="180" data-height="108" data-photo-original-src=""
                     cms-photo-caption="Đây là caption" class="cms-photo lazyloaded"
                     data-src="https://source.unsplash.com/random/700x394?sig=1" alt="Test style boxes ảnh 7"> <img
                     src="https://source.unsplash.com/random/900x394?sig=2" data-image-id="8954" data-width="180"
                     data-height="108" data-photo-original-src="" cms-photo-caption="Đây là caption"
                     class="cms-photo lazyloaded" data-src="https://source.unsplash.com/random/900x394?sig=2"
                     alt="Test style boxes ảnh 8"> </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Đây là caption</p>
             </td>
         </tr>
     </tbody>
 </table>
 <table class="image-group-3-row">
     <tbody>
         <tr>
             <td class="image"> <img src="https://source.unsplash.com/random/700x394?sig=3" data-image-id="8952"
                     data-width="680" data-height="408" data-photo-original-src="" cms-photo-caption="Đây là caption"
                     class="cms-photo lazyloaded" data-src="https://source.unsplash.com/random/700x394?sig=3"
                     alt="Test style boxes ảnh 6"> <img src="https://source.unsplash.com/random/700x400?sig=1"
                     data-image-id="8955" data-width="180" data-height="108" data-photo-original-src=""
                     cms-photo-caption="Đây là caption" class="cms-photo lazyloaded"
                     data-src="https://source.unsplash.com/random/700x400?sig=1" alt="Test style boxes ảnh 7"> <img
                     src="https://source.unsplash.com/random/700x394?sig=4" data-image-id="8954" data-width="180"
                     data-height="108" data-photo-original-src="" cms-photo-caption="Đây là caption"
                     class="cms-photo lazyloaded" data-src="https://source.unsplash.com/random/700x394?sig=4"
                     alt="Test style boxes ảnh 8"> </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Đây là caption</p>
             </td>
         </tr>
     </tbody>
 </table>
 <!-- group 4 -->

 <div class="box-image box-16-9 box-quad">
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/w800/Uploaded/2022/urkxrvilxk/2019_07_06/1_66410478_672019.jpg"
                 data-desc="" data-index="1"><img
                     src="https://images.pexels.com/photos/6900713/pexels-photo-6900713.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/w1280/Uploaded/2022/urkxrvilxk/2019_07_06/1_66410478_672019.jpg"></a>
         </div>
     </div>
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/w800/Uploaded/2022/urkxrvilxk/2019_07_06/2_35151904_672019.jpg"
                 data-desc="" data-index="2"><img src="https://source.unsplash.com/random/700x394?sig=5"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/w1280/Uploaded/2022/urkxrvilxk/2019_07_06/2_35151904_672019.jpg"></a>
         </div>
     </div>
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/w800/Uploaded/2022/urkxrvilxk/2019_07_06/3_12613711_672019.jpg"
                 data-desc="" data-index="3"><img src="https://source.unsplash.com/random/700x394?sig=6"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/w1280/Uploaded/2022/urkxrvilxk/2019_07_06/3_12613711_672019.jpg"></a>
         </div>
     </div>
     <div class="box-col">
         <div class="item-image"><a class="photo"
                 href="https://photo-cms-baonghean.zadn.vn/w800/Uploaded/2022/urkxrvilxk/2019_07_06/41823124_672019.jpg"
                 data-desc="" data-index="4"><img src="https://source.unsplash.com/random/700x394?sig=7"
                     class="cms-photo"
                     data-photo-original-src="https://photo-cms-baonghean.zadn.vn/w1280/Uploaded/2022/urkxrvilxk/2019_07_06/41823124_672019.jpg"></a>
         </div>
     </div>
     <div class="box-desc">4 đối tượng trong đường dây ma túy vừa bị Công an thành phố Vinh triệt
         phá. Ảnh: Quỳnh Trang</div>
 </div>
 <table class="image-group-4-row">
     <tbody>
         <tr>
             <td class="image">
                 <img
                     src="https://images.pexels.com/photos/4894421/pexels-photo-4894421.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6900713/pexels-photo-6900713.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6712456/pexels-photo-6712456.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/9432772/pexels-photo-9432772.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
             </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quidem.</p>
             </td>
         </tr>
     </tbody>
 </table>

 <table class="image-group-4">
     <tbody>
         <tr>
             <td class="image">
                 <img
                     src="https://images.pexels.com/photos/4894421/pexels-photo-4894421.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6900713/pexels-photo-6900713.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6712456/pexels-photo-6712456.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/9432772/pexels-photo-9432772.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
             </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quidem.</p>
             </td>
         </tr>
     </tbody>
 </table>
 <!-- group 5 -->

 <table class="image-group-5-row">
     <tbody>
         <tr>
             <td class="image">
                 <img
                     src="https://images.pexels.com/photos/4894421/pexels-photo-4894421.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6900713/pexels-photo-6900713.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/6712456/pexels-photo-6712456.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/9432772/pexels-photo-9432772.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                 <img
                     src="https://images.pexels.com/photos/9432772/pexels-photo-9432772.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
             </td>
         </tr>
         <tr>
             <td class="caption">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quidem.</p>
             </td>
         </tr>
     </tbody>
 </table>
 <div class="box-collapse">
     <div class="box-collapse-hdr"><a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="true"
             aria-controls="collapseExample" rel="nofollow" class=""><img src="../styles/img/lawyer.png" alt=""></a>
     </div>
     <div class="collapse in" id="collapseExample1" aria-expanded="true">
         <div class="quotes">
             <div>
                 <div><strong>Theo Tiến sĩ, Luật sư Nguyễn Trọng Hải - Trưởng Văn phòng Luật sư
                         Trọngán sẽ bị xử lý về tội lừa đảo chiếm đoạt tài sản nếu đủ
                         căn cứ cấu thành tội này.&nbsp;</strong></div>
                 <div><strong></strong></div>
             </div>
         </div>
     </div>
 </div>
 <div class="notebox ncenter lawyer">
     <span class="image">ý kiến luật sư</span>
     <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis
         obcaecati dolorem cuquam nulla saepe? Nam, odio. Earum, delectus.</p>
 </div>
 <h5>Box ghi chú căn giữa</h5>
 <div class="notification">
     <div style="text-align: justify;">Để ngăn chặn, phòng tránh việc bị lừa khi sử dụng, lưu
         hành tiền giả, người dânăn thường không rõ, mờ nhòe, không sắc nét bằng tiền thật. Khi
         dùng tay sờ thì thấy tiền giả mỏng hơn so với tiền thật, tiền giả không có độ nhám, mà
         thường trơn bóng.&nbsp;</div>
 </div>
 <h5>Box ghi chú căn trái</h5>
 <div class="notification pull-left">

     <div>
         <p><em>Đồng chí Nguyễn Văn Thông – Phó Bí thư Tỉnh ủy và đồng chí Phan Đức Đồng – Ủy
                 viên BTV Tỉnh ủy, Trưởng Ban Nội chính Tỉnh ủy chủ trì hội nghị.</em></p>
     </div>
 </div>
 <p>Lorem ipsum dolor sit amet consectres perspiciatis tenetur nemo, accusantium quidem
     consequatur beatae reprehenderit fugit delectus in facere rem! Ab esse rem culpa sint nam
     sunt laboriosam debitis repellat! Possimus vel aliquam explicabo!</p>
 <h5>Box ghi chú căn phải</h5>
 <div class="notification pull-right">
     <div>
         <p><em>Đồng chí Phạm Thị Hồng Toan - Ủy viên BCH Đảng bộ tỉnh, Tổng biên tập Báo Nghệ An
                 và đồng chí Trần Văn Hùng – Phó Tổng biên tập Báo Nghệ An chủ trì hội nghị.</em>
         </p>
     </div>
 </div>
 <p>Lorem ipsum dolor sit amet consectetes perspiciatis tenetur nemo, accusantium quidem
     consequatur beatae reprehenderit fugit delectus in facere rem! Ab esse rem culpa sint nam
     sunt laboriosam debitis repellat! Possimus vel aliquam explicabo!</p>
 <h5>Box ghi chú căn trái ¼</h5>
 <div class="notification notification-sm pull-left">
     <div>Chiều 29/1, Cục Thuế Nghệ An tổ chức Hội nghị tổng kết công tác thu ngân sách 2017 và
         bàn giải pháp thực hiện nhiệm vụ năm 2018.</div>
 </div>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách, gắn với cải cách tg, bằng 115% dự toán pháp lệnh, 104% dự toán HĐND và bằng
     112% so với cùng kỳ.hành vượt mức dự toán như: Có 10/15 khoản thu hoàn thành
     vượt mức dự toán (tăng thu 1.304 tỷ đồng): Thu từ tiền sử dụng đất đạt 2.654 tỷ đồng, bằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <notebox class="notebox note-sm nleft" align="left">
     <p>Nội dung căn trái</p>
 </notebox>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách, gắn với cải c đồng, bằng 115% dự toán pháp lệnh, 104% dự toán HĐND và bằng
     112% so với cùng kỳ.

     Trong đó, nhiều khoản thu hoàn thành vượt mức dự toán như: Có 10/15 khoản thu hoàn thành
     vượt mức dự toán (tăng thu 1.304 tỷ đồng): Thu từ tiền sử dụng đất đạt 2.654 tỷ đồng, bằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <div class="notebox note-sm nleft cms-note" align="left">
     <p>Nội dung căn trái</p>
 </div>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách, gắn với
     Trong đó, nhiều khoản thu hoàn thành vượt mức dự toán như: Có 10/15 khoản thu hoàn thành
     vượt mức dự toán (tăng thu 1.304 tỷ đồng): Thu từ tiền sử dụng đất đạt 2.654 tỷ đồng, bằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <h5>Box ghi chú căn phải 1/4</h5>
 <div class="notification notification-sm pull-right">
     <div>
         <p>Ngày thường, sTết có khoảng 450 ca</p>
         <p><strong>Số liệu tại Bệnh viện Việt Đức</strong></p>
     </div>
 </div>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách, gắn với cải cách thủ tục hành chính, tạo thuận lợi cho người dân và doanh
     nghiệp, bên cạnh đó phối hợp với các địa phương, các ngành để kịp thời chỉ đạo công tác thu
     ngân sách. Nhờ đó, Cục T
     Trong đó, nhiều khoản thu hoàn thành vượt mức dự toán như: Có 10/15 khoản thu hoàn thành
     vượt mức dự toán (tăng thu 1.304 tỷ đồng): Thu từ tiền sử dụng đất đạt 2.654 tỷ đồng, bằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <notebox class="notebox note-sm nright" align="right">
     <p>Nội dung căn phải</p>
 </notebox>

 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách,g thu 1.304 tỷ đồng): Thu từ tiền sử dụng đất đạt 2.654 tỷ đồng, bằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <div class="notebox note-sm nright cms-note" align="right">
     <p>Nội dung căn phải</p>
 </div>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sách, gắn với cng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <h5>Box trích dẫn giữa</h5>
 <div class="cms-quote">
     <div>
         <p>Putin nói về Crimea:</p>
         <div>
             <p style="text-align: justify;"><strong><em>“Chúng ta cần phải đưa ra những biện
                         pháp cần thiết để ngăn chặn sự leo thang căng thẳng tại Đông Nam
                         Ukriane. Làm sao để không có xe tăng, không có những cuộc xung đột quân
                         sự giữa những dân tộc cùng chung một lịch sử phát triển. Do đó, đằng sau
                         sức mạnh phòng vệ của Crimea, luôn có quân đội của chúng ta hậu thuẫn.
                         Họ luôn trong tư thế sẵn sàng chiến đấu chính xách, chuyên nghiệp, quả
                         cảm".</em></strong> </p>
         </div>
     </div>
     <p class="author"><span>Trích bài phỏng vấn trên tờ "Nhìn thẳng"&nbsp; ngày
             18/04/2014&nbsp;</span></p>
 </div>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <blockquote class="qcenter">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <blockquote class="quote qcenter cms-quote">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <h5>Box trích dẫn trái</h5>
 <div class="cms-quote pull-left">
     <div>
         <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, eveniet.</p>
     </div>
     <p class="author"><span>Chị Tâm nói.</span></p>
 </div>
 <p>Trong năm 2017, Cục Thuế Nghệ An đã triển khai đồng bộ nhiều giải pháp tăng thu, chống thất
     thu ngân sáằng
     265% dự toán pháp lệnh, tăng 29% so cùng kỳ. Thu thuế bảo vệ môi trường đạt 986 tỷ đồng,
     tăng 29% so cùng kỳ. Thu thuế TNCN đạt 428 tỷ đồng, bằng 126% dự toán và tăng 27% so cùng
     kỳ.</p>
 <blockquote class="qleft">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <blockquote class="quote qleft cms-quote">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur quisquam
     veritatis assumenda voluptatibus nostrum incidunt sed molestias similique perspiciatis!</p>
 <h5>Box trích dẫn phải</h5>
 <div class="cms-quote pull-right">
     <div>
         <p><strong>"</strong> Putin như một nhà ảo thuật, kéo ra khỏi chiếc mũ của mình những
             con thỏ, khiến cho người xem không khỏi choáng váng về tên lửa hành trình, tên lửa
             đạn đạo xuyên lục địa, tàu ngầm không người lái, hay máy bay siêu
             thanh&nbsp;<strong>"</strong>.</p>
     </div>
     <p class="author"><span><strong>BBC</strong></span></p>
 </div>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>
 <blockquote class="qright">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>
 <blockquote class="quote qright cms-quote">
     <p>Câu trích dẫn</p>
     <span class="author">Tác giả</span>
 </blockquote>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ratione laborum modi magnam
     ullam perspiciatis maxime cupiditate. Excepturi dolorem dolore doloribus tempore aperiam
     adipisci impedit qui architecto amet tempora. Delectus.</p>