<div class="box-think">
    <h3 class="box-heading">
        <a href="#" class="heading">suy ngẫm</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/70x70?sig=1"
                        alt="70x70 (1x1)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nhân lên, những tấm lòng thơm thảo...
                </a>
            </h5>
        </article>
    </div>
</div>