.article__author {
    padding-left: 25px;
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    width: fit-content;
    gap: 16px;

    .des,
    .name {
        color: var(--gray-800, #343A40);
        font-family: Mulish;
        font-size: 16px;
        font-weight: 600;
        line-height: 160%;
    }
}