.search-tags {
    .region-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        >* {
            margin-bottom: 0;
        }
    }

    .keywords {
        font-family: $font-family-branch;
        font-weight: $font-weight-normal;
        font-size: 28px;
        line-height: 47px;
        text-transform: uppercase;

        span {
            color: #BD1723;
        }
    }

    .result {
        font-size: 16px;
        line-height: 28px;
        color: #343A40;
    }

    .region-search {
        position: relative;
        margin: 0 auto;
        width: 600px;
        height: 64px;

        @media (min-width: 1366px) {
            width: 700px;
        }

        input {
            background: #F8F9FA;
            border: 1px solid #E9ECEF;
            border-radius: 6px;
            padding: 4px 4px 4px 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            outline: none;

            &::placeholder {
                font-weight: $font-weight-normal;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #ADB5BD;
            }
        }

        i {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 56px;
            height: 56px;
            background: $primary;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: $white;
            cursor: pointer;
        }
    }
}