@@include('./content-body/_avatar.html')
<div class="article__body zce-content-body">
  @@include("./content-body/_social.html")
  @@include("../audio/audio.html")
  @@include('./content-body/_typo.html')
  @@include('./content-body/_ul-ol.html')
  @@include('./content-body/_table-no-class.html')
  @@include('./content-body/_gallery.html')
  @@include('./content-body/_grid.html')
  @@include('./content-body/_picture-video.html')
  @@include('./content-body/_quote.html')
  @@include('./content-body/_notebox.html')
  @@include('./content-body/_poll.html')
  @@include('./content-body/_relate-topic.html')
  @@include('./content-body/_article-relate.html')
  @@include('./content-body/_related-news.html')
  @@include('./content-body/_quiz.html')
  @@include('../old-style/old-style.html')
  @@include('../live/live.html')
  @@include('../interview/interview.html')
  @@include('./content-body/_source.html')
  <!-- @@include('./content-body/_author.html') -->
  @@include('./../longform/longform.html')
</div>
@@include('./content-body/_tags.html')
<div class="wrap-social">
  @@include("./content-body/_social-normal.html")
  <a href="#" class="google-news">
    Theo dõi Báo Việt Nam+
  </a>
</div>
@@include('./content-body/_relate-topic.html')
@@include('./../comment/comment.html')

