.article__tag {
    position: relative;
    display: flex;
    gap: 8px;
    padding-left: 30px;

    // 1024
    @media (max-width: 1024px) {
        overflow: scroll;
    }

    // 1024
    @media (min-width: 1024px) {
        flex-wrap: wrap;
    }

    a {
        padding: 6px 12px;
        border-radius: 20px;
        border: 1px solid var(--gray-400, #CED4DA);
        color: var(--gray-800, #343A40);
        
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        background-color: var(--white);
        transition: all 0.3s ease;


        &:hover,
        &.active {
            border: 1px solid var(--primary, #CD5600);
            color: var(--gray-White, #FFF);
            background-color: var(--primary, #CD5600);
        }
    }
}