<div class="timeline-article">
    <div class="container">
        <div class="text-wrap">
            @@include('../../breadcrumb/breadcrumb2.html')
            <div class="article__sub-title">Xung đột Nga, Ukraine</div>
            <div class="article__title">Toàn cảnh sự kiện Nga công nhận 2 nước cộng hòa tự xưng thuộc Ukraine</div>
            <div class="article__sapo">Rạng sáng 22/2 theo giờ Hà Nội, Nga đã công nhận nền độc lập với hai nước cộng hòa tự xưng Donetsk (DPR) và Luhansk (LPR) ở miền Đông Ukraine. Mỹ và Phương Tây đã kịch liệt phản đối động thái này.</div>
            <div class="article__meta">
                <span class="author">Thanh Tú - Trung Kiên (TTXVN/Vietnam+)</span>
                <time class="time">01/10/2023 18:10 GMT+</time>
            </div>
            <div class="wrap-social">
                <div class="social-pin">
                    <a href="#" class="zl">zl</a>
                    <a href="#" class="fb">fb</a>
                    <a href="#" class="tw">tw</a>
                    <a href="#" class="print">print</a>
                    <a href="#" class="link">link</a>
                </div>
                <a href="#" class="google-news">
                    Theo dõi Báo Việt Nam+
                </a>
            </div>
        </div>
        <div class="article__avartar"><img src="https://source.unsplash.com/featured/450x300?sig=1" alt=""></div>
    </div>
</div>