.location {
    display: flex;
    flex-wrap: wrap;

    .item {
        background: rgba(220, 53, 69, 0.1);
        border: 1px dashed rgba(220, 53, 69, 0.5);
        border-radius: 815px;
        margin-top: 24px;
        height: 59px;
        width: 100%;
        color: $primary;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        padding: 16px 20px;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            background: #fff;
        }
    }

    .ic-location {
        &::before {
            font-size: 28px;
            margin-right: 10px;
        }
    }
}