<!-- audio -->
<link rel="preload" href="../styles/fonts/audio/icomoon.woff" as="font" type="woff" crossorigin="">
<link rel="preload" href="../styles/fonts/icomoon/icomoon.woff" as="font" type="woff" crossorigin="">
<!-- NotoSerif -->
<link rel="preload" href="../styles/fonts/NotoSerif/NotoSerif-SemiBold.woff2" as="font" type="woff2" crossorigin="">
<link rel="preload" href="../styles/fonts/NotoSerif/NotoSerif-Regular.woff2" as="font" type="woff2" crossorigin="">
<link rel="preload" href="../styles/fonts/NotoSerif/NotoSerif-Italic.woff2" as="font" type="woff2" crossorigin="">
<!-- playfair display -->
<link rel="preload" href="../styles/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff2" as="font" type="woff2" crossorigin="">
<link rel="preload" href="../styles/fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2" as="font" type="woff2" crossorigin="">
<!-- URWGeometric -->
<link rel="preload" href="../styles/fonts/URWGeometric/urwFixlineheight-ExtraBold.woff" as="font" type="woff" crossorigin="">
<link rel="preload" href="../styles/fonts/URWGeometric/urwFixlineheight-SemiBold.woff" as="font" type="woff" crossorigin="">
<link rel="preload" href="../styles/fonts/URWGeometric/urwFixlineheight-Regular.woff" as="font" type="woff" crossorigin="">
<link rel="preload" href="../styles/fonts/URWGeometric/urwFixlineheight-Italic.woff" as="font" type="woff2" crossorigin="">
<!-- css -->
<link rel="stylesheet" type="text/css" href="../styles/css/desktop.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
