
<!-- css CMS -->
<!-- <link rel="stylesheet" type="text/css" href=" https://static-cms-common.zadn.vn/content-body/styles/css/kienthuc.css?t=3.0" /> -->

<!-- swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<!-- twentytwenty-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css" integrity="sha512-NJy06C7fPArp8I0XLO5pDDTDguBMLCPQ2FyjU3xrwuD5CGyN6CbfTr40Zv+YON7lDNzAsRqZeEY8Oi0xrgP+3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- css global -->
<link rel="stylesheet" type="text/css" href="../styles/css/desktop.css">