.box-list-story {
    position: relative;
    margin-right: -16px;

    .story {
        position: relative;
        margin-right: 1px;

        &__thumb {
            position: relative;
            width: 255px;
            height: 200px;
            max-height: initial;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.6);
                z-index: 1;
            }
        }

        &__heading a {
            padding: 13px 22px;
            font-family: "Oswald";
            justify-content: center;
            font-weight: 400;
            font-size: 19px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 16px;
            z-index: 1;
            height: calc(100% - 16px);
            width: 100%;

            &:hover {
                color: #ccc !important;
            }
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        margin-top: 12px;
        margin-right: 16px;

        li {
            margin-left: 12px;
            display: flex;
            align-items: center;

            &:first-child {
                margin-left: 0;
            }
        }

        .slick-active {
            button {
                background: #000000;
            }
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #DEE2E6;
        }
    }

    .prevArrow,
    .nextArrow {
        display: none;
    }
}