<div class="box-list-story">
    <div class="box-content">
        @@for (var i=0; i < 6; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="#" title=""> <img src="https://source.unsplash.com/random/255x200?sig=1" alt="255x200"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        77 năm Ngày thành lập
                        Quân đội Nhân dân Việt Nam (22/12/1944-22/12/2021)
                    </a>
                </h5>
            </article>
        }
    </div>
</div>