  .notebox {
      padding: 24px;
      border-radius: 3px;
      background: var(--primary);
      color: #FFF;
      
      font-size: 18px;
      font-weight: 400;
      line-height: 160%;

      .caption,
      figcaption {
          color: #FFF;
      }
  }