@import "../component/article-header/article-header.scss";
@import "../component/article-body/article-body.scss";

// style article
.article__tag {
    position: relative;
    background: url(../img/icon-key.png) left center/24px no-repeat;
    margin-top: 16px;

    .box-content {
        align-items: center;
        margin-left: 44px;
        display: flex;
        overflow: scroll;
        height: 36px;

        a {
            font-family: "Quicksand";
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 20px;
            color: #343A40;
            white-space: nowrap;
            padding: 0 8px;
            margin-left: 8px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@import "../component/comment/comment.scss";