//  icon bài viết (dùng bằng ảnh)
[class^=ic-type-] {
    position: relative;
    top: 4px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    display: inline-block !important;
}

.ic-type-img {
    background: url(../img/ic-img.png) center center/20px no-repeat;
}

.ic-type-interview {
    background: url(../img/ic-interview.png) center center/20px no-repeat;
}

.ic-type-video {
    background: url(../img/ic-video.png) center center/20px no-repeat;
}

.ic-type-longform {
    background: url(../img/ic-longform.png) center center/20px no-repeat;
}

.ic-type-info {
    background: url(../img/ic-info.png) center center/20px no-repeat;
}

.ic-type-live {
    background: url(../img/ic-live.png) center center/20px no-repeat;
}

.ic-type-audio {
    background: url(../img/ic-audio.png) center center/20px no-repeat;
}

// icomoon  
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?idmn5u');
    src: url('../fonts/icomoon/icomoon.eot?idmn5u#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?idmn5u') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?idmn5u') format('woff'),
        url('../fonts/icomoon/icomoon.svg?idmn5u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ic-"],
[class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class^=ic-] {
    font-size: 0;

    &::before {
        font-size: 20px;
    }
}

.ic-book:before {
    content: "\e924";
}

.ic-link:before {
    content: "\e925";
}

.ic-podcast:before {
    content: "\e900";
}

.ic-up:before {
    content: "\e901";
}

.ic-play-solid:before {
    content: "\e902";
}

.ic-layers:before {
    content: "\e903";
}

.ic-location:before {
    content: "\e904";
}

.ic-down:before {
    content: "\e905";
}

.ic-right:before {
    content: "\e906";
}

.ic-left:before {
    content: "\e907";
}

.ic-play:before {
    content: "\e908";
}

.ic-pause:before {
    content: "\e909";
}

.ic-volumn:before {
    content: "\e90a";
}

.ic-audio:before {
    content: "\e90b";
}

.ic-like:before {
    content: "\e90c";
}

.ic-reply:before {
    content: "\e90d";
}

.ic-mail:before {
    content: "\e90e";
}

.ic-twitter:before {
    content: "\e90f";
}

.ic-latest-news:before {
    content: "\e910";
}

.ic-keyword:before {
    content: "\e911";
}

.ic-quotes:before {
    content: "\e912";
    color: #ce2e0e;
}

.ic-date:before {
    content: "\e913";
}

.ic-source:before {
    content: "\e914";
}

.ic-author:before {
    content: "\e915";
}

.ic-more:before {
    content: "\e916";
}

.ic-video:before {
    content: "\e917";
}

.ic-most-read:before {
    content: "\e918";
}

.ic-trending:before {
    content: "\e919";
}

.ic-local-news:before {
    content: "\e91a";
}

.ic-e-magazine:before {
    content: "\e91b";
}

.ic-tv:before {
    content: "\e91c";
}

.ic-menu:before {
    content: "\e91d";
}

.ic-home:before {
    content: "\e91e";
}

.ic-youtube:before {
    content: "\e920";
}

.ic-facebook:before {
    content: "\e921";
}

.ic-search:before {
    content: "\e91f";
}

.ic-google:before {
    content: "\e926";
}