html {
    max-width: 540px;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding: 0 16px;
    margin-right: auto;
    margin-left: auto;
}

.site-body {
    margin-bottom: 36px;
    margin-top: 16px;

    .container {
        >* {
            margin-bottom: var(--gutter);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.box-content+.more-news {
    margin-top: 36px;
}