// ----------------------------------
// INFO : style global
// ----------------------------------
.d-flex {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
}

a:hover {
    color: $primary;
}