// ----------------------------------
// INFO : style global
// ----------------------------------
a {
    transition: 0.3s;

    &:hover {
        color: var(--primary, #980700) !important;
    }
}

.box-heading {
    .title {
        transition: all 0.3s;
        display: block;

        &:hover {
            color: var(--primary, #980700) !important;
        }
    }
}

.back-to-top {
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: var(--primary, #980700);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;

    &:before {
        content: "\e933";
        font-size: 20px;
        font-family: icomoon !important;
        color: var(--white, #fff);
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        align-items: center;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.social-pin {
    display: flex;
    gap: 10px;

    >* {
        background-color: var(--primary, #980700);
        border-radius: 50%;
        transition: all 0.3s;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        width: 42px;
        height: 42px;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }

        &::before {
            font-family: "icomoon";
            font-size: 24px;
            color: var(--white, #fff);
        }
    }

    &.sticky {
        display: grid;
        position: sticky;
        z-index: 1;
        float: left;
        margin-left: -120px;
        top: 50px;
        margin-top: 5px;

        >* {
            &:nth-last-child(2) {
                position: relative;
                margin-top: 15px;

                &::after {
                    position: absolute;
                    content: "";
                    width: 36px;
                    height: 1px;
                    top: -15px;
                    background: var(--black, #000);
                }
            }
        }
    }

    .zl {
        background: #03A5FA;

        &::before {
            content: "\e903";
        }
    }

    .fb {
        background: #3B5998;

        &::before {
            content: "\e90f";
        }
    }

    .tw {
        background: #1DA1F2;

        &::before {
            content: "\e927";
        }
    }

    .link,
    .print {
        background: rgba(152, 7, 0, 0.10);

        &::before {
            color: var(--primary, #980700);
        }
    }

    .link {
        &::before {
            content: "\e914";
        }
    }

    .print {
        &::before {
            content: "\e91e";
        }
    }
}

.more-news {
    height: 42px;
    width: 190px;
    padding: 15px 50px;
    border-radius: 50px;
    background: var(--primary, #980700);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--white, #fff);
    font-size: 18px;
    font-weight: $font-weight-normal;
    line-height: 160%;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
    }
}