// ----------------------------------
// INFO : style global
// ----------------------------------

.back-to-top {
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: var(--primary, #980700);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;

    &:before {
        content: "\e933";
        font-size: 20px;
        font-family: icomoon !important;
        color: var(--white, #fff);
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        align-items: center;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.article {
    scroll-behavior: smooth;

    .scroll-page {
        font-size: 18px;
        color: var(--primary);
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        border-left: 4px solid var(--primary);
        padding-left: 12px;
    }

    &__body {
        margin-bottom: 16px;
    }
}

// longform
.longform-page {
    .container {

        .caption,
        figcaption {
            text-align: center;
            font-size: 16px;
            margin: 0 auto;
        }
    }

    .article {
        margin-left: auto;
        margin-right: auto;

        //1024
        @include media-breakpoint-up(lg) {
            width: 825px;
            min-width: 825px;
        }
    }
}