<div class="list-epaper">
    <div class="box-content">
        @@for (var i = 0; i < 20; i++) { 
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/random/270x390?sig=1"
                            alt="270x390 (2x3)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        BÁO SỐ 24592
                    </a>
                </h5>
                <div class="story__meta">
                    <span class="time">Ngày 04-03-2023</span>
                </div>
            </article>
        }
    </div>
    <button class="more-news">
        xem thêm ...
    </button>
</div>