<div class="podcast">
    <div class="wrap-podcast">
        <div class="tts-player">
            <div class="wrap-top">
                <button class="btn-prev"></button>
                <button class="play-button">
                    <span>
                      <i class="ic-audio-pause"></i>
                    </span>
                  </button>
                <button class="btn-next"></button>
            </div>
            <div class="wrap-bottom">
                <span class="mute-wrap"> <button class="mute-button">
                        <i class="ic-audio-volume"></i>
                    </button>
                </span>
                <div class="time-display">
                    <span class="current">0:00</span>
                    <span class="duration">17:66</span>
                    <span class="live"></span>
                </div>
                <div class="progress-bar" id="progress-bar">
                    <span class="bg"></span>
                    <div class="wrap-recent">
                        <span class="fill-recent">
                            <span class="current_time">0:00</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-text">
        <time class="time">24/11/2021 | 16:53</time>
        <p class="article__title">
            Bản tin thời sự sáng ngày 07/12/2021
        </p>
        <p class="article__sapo">
            Neymar kiến tạo và ghi bàn trong trận ĐT Brazil đánh bại ĐT Colombia 2-1 ở vòng loại World
            Cup 2018 khu vực Nam Mỹ diễn ra lúc 7h45 ngày 7/9.
        </p>
    </div>
    <div class="article__tag">
        <div class="box-content">
            <a href="#" title="">#Lorem ipsum dolor sit</a>
            <a href="#" title="">#Lorem ipsum dolor dolor sit</a>
            <a href="#" title="">#Lorem ipsum dolor dolor sit</a>
            <a href="#" title="">#Lorem ipsum dolor dolor sit</a>
            <a href="#" title="">#Lorem ipsum dolor dolor sit</a>
            <a href="#" title="">#Lorem ipsum dolor sit</a>
        </div>
    </div>
</div>