<div class="article__sub-title">
    Việt Nam có một lượng di sản công nghiệp không nhỏ, bao gồm các cơ sở sản xuất.
</div>
<div class="article__title">
    Chiến lược tạo đà, mở đường tăng trưởng của Singapore
</div>
<div class="author-source-wrapper">
    <div class="d-flex">
        <p class="auhtor-wrapper"> <i class="ic-author"></i> Linh Chi</p>
        <p class="source-wrapper"><i class="ic-source"></i> Theo Ngọc Trâm - VNexpress</p>
    </div>
    <a class="gg-news" href="#">
        <span>Theo dõi Báo Nghệ An trên</span>
        <img src="../styles/img/gg-news.png" alt="">
    </a>
</div>
<div class="article__meta">
    <iframe
        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=120&layout=button&action=like&size=small&share=true&height=65&appId"
        width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <time class="time"> <i class="ic-time">icon time</i> Thứ sáu, ngày 17/09/2021 -
        11:16</time>
</div>
@@include("../../component/audio/audio.html")
<div class="article__sapo"> Chuyên đề “Chiến lược tái mở cửa, phục hồi kinh tế trong dịch Covid-19”
    cung cấp góc nhìn đa chiều, bài học kinh nghiệm của những quốc gia có chỉ số phục hồi kinh tế
    khả quan trên thế giới, mặc dù nguy cơ dịch bệnh vẫn tiềm ẩn.
</div>