<div class="comming-up">
    <h3 class="box-heading">
        <a href="#" class="heading">xem tiếp</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)">
                    <i class="ic-watching">Đang xem</i>
                </a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Tưng bừng ngày Hội báo Xuân Nhâm Dần tỉnh Nghệ An 2022
                </a>
            </h5>
        </article>
        @@for (var i = 0; i < 3; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="#" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)">
                        <i class="ic-video"></i>
                    </a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Tưng bừng ngày Hội báo Xuân Nhâm Dần tỉnh Nghệ An 2022
                    </a>
                </h5>
            </article>
        }
    </div>
</div>