<div class="related-news">
    <h3 class="box-heading">
        <a href="#" class="heading">
            tin liên quan
        </a>
    </h3>
    <div class="box-content">
        <article class="story">
            <h5 class="story__heading"><a href="#">Bệnh
                    viện dã chiến chống
                    dịch Covid-19 tại Đà Nẵng hoàn thành thần tốc trong 3 ngày </a></h5>
        </article>
        <article class="story">
            <h5 class="story__heading"><a href="#">Khai
                    báo gian dối để được
                    xét nghiệm Covid-19 có thể bị truy cứu trách nhiệm hình sự </a></h5>
        </article>
        <article class="story">
            <h5 class="story__heading"><a href="#">Chính
                    thức công bố ca mắc
                    Covid-19 ở Bắc Từ Liêm - ca thứ ba của Hà Nội</a></h5>
        </article>
    </div>
</div>