<div class="timeline">
    @@for ( var i=0; i < 10; i++) { <article class="story">
        <figure class="story__thumb">
            <a href="#" title=""> <img src="https://source.unsplash.com/random/240x160?sig=1" alt="240x160 (3x2)"></a>
        </figure>
        <h5 class="story__heading">
            <a href="#">
                Nghệ An: Thông tin nổi bật ngày 18/12
                <i class="ic-chart"></i>
            </a>
        </h5>
        <div class="story__meta">
            <time class="time"> 23/10/2021 15:37 </time>
        </div>
        <div class="story__summary">
            <p>
                (Baonghean.vn) - Đánh giá quy chế phối hợp giữa Bộ đội Biên phòng tỉnh với các huyện, thị ủy biên
                giới; Nghệ An ghi nhận 33 ca nhiễm Covid-19 mới, trong đó có 9 ca cộng đồng trong buổi sáng; đẩy
                nhanh tiến độ tiêm vắc xin phòng Covid-19; Nghệ An tăng tỷ trọng xuất khẩu hàng công nghiệp chế biến
                lên 83,2% vào năm 2025… là một số nội dung đáng chú ý được đăng tải trên Baonghean.vn ngày 18/12.
            </p>
        </div>
        </article>
        }
</div>