.timeline {
    .box-heading {
        margin-bottom: 16px;
    }

    .title {
        font-weight: $font-weight-normal;
        font-size: 25px;
        line-height: 37px;
        font-family: $font-family-branch;
        text-transform: uppercase;
        color: #000000;
    }

    .story {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #E9ECEF;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            float: left;
            margin-right: 30px;
            width: 330px;
            height: 220px;

        }

        &__heading a {
            font-size: 24px;
            line-height: 35px;
        }

        &__meta {
            margin-top: 10px;

            .time {
                font-weight: $font-weight-medium;
                font-size: 13px;
                line-height: 24px;
                color: #ADB5BD;
            }
        }

        &__summary {
            margin-top: 10px;
            font-size: 15px;
            color: #6C757D;
        }
    }
}