<h2><center> ===== Ảnh / Video =====</center></h2>
<table class="picture" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</td>
        </tr>
    </tbody>
</table>
<p>Vào đầu tháng 7, cậu Ba Quy đánh dây thép từ Pháp về cho biết đã học “thành tài” và chuẩn bị lên tàu về nước. Thông tin đó làm xôn xao Nhà Lớn (Nhà Lớn là tên mà người dân Bạc Liêu đặt cho tòa nhà đồ sộ, nguy nga nằm bên sông Bạc Liêu). Đó là một biệt thự lớn, có lầu, kiến trúc theo kiểu Tây, tuy thua về diện tích khuôn viên, nhưng về kiến trúc và mức độ đồ sộ thì ăn đứt dinh thự của quan chủ tỉnh người Tây. Đó là cơ ngơi của ông đại điền chủ Trần Trinh Trạch.</p>
<table class="picture" align="right">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</td>
        </tr>
    </tbody>
</table>
<p>Ông Hồi đồng Trạch cho tu sửa, dọn dẹp lại nhà cửa để chuẩn bị yến tiệc lớn mừng ngày đứa con quý tử của ông “vinh quy bái tổ” từ Pháp trở về. Ông Trạch có 3 người con trai, nhưng ông cưng nhất là cậu Ba Quy vì có “đầu óc hơn người”, được đi Tây học. Ông Trạch (“trạch” là tên một loài cá, cá trạch, có nhiều ở miền Tây Nam Bộ) thích đặt tên con theo các loài thủy tộc giống như mình, vì ông quan niệm “muốn giàu nuôi cá”. Đứa con trai đầu lòng ông đặt tên Trần Trinh Đinh (“đinh” là tên một loài giống như rùa, nhưng lớn hơn, sống ở ven biển Nam Bộ). Đứa con thứ ba là Trần Trinh Quy (“quy” nghĩa là rùa). Đứa con trai út, ông cũng đặt tên một loài thủy tộc khác là Trần Trinh Khương, nhưng người đời quen gọi là Tám Bò. Cậu Hai Đinh được học tới Đip-lôm (trung học), rồi học ban tú tài, nhưng ông Hội đồng Trạch không cho cậu học tiếp, mà bắt ở nhà trông coi điền đất cho ông. Ông quan niệm, học nhiều đậu kỹ sư, bác sĩ cũng không kiếm tiền nhiều bằng mấy ông chủ điền.</p>
<table class="picture" align="left">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</td>
        </tr>
    </tbody>
</table>
<p>Trần Trinh Quy cũng học tới đậu bằng Đip-lôm, ông Hội đồng Trạch định bắt nghỉ học ở nhà làm điền chủ, nhưng Ba Quy nhất mực đòi cha cho đi học bên Tây. Ba Quy nói: “Nhà mình bạc chứa cả kho mà ba hà tiện làm gì? Để cho con một bụng chữ còn hơn để mấy chục ngàn mẫu ruộng. Nếu ba cho con qua Tây học thì thiên hạ khắp nơi trên xứ Nam Kỳ lục tỉnh này ai cũng kính nể ba”. Nghe con nói chí lý, ông Hội đồng Trạch đã mở kho lấy cả valy bạc nén cho con đi Tây du học. Thấm thoắt mà đã 3 năm, cậu Ba Quy đã học “thành tài”, sắp trở về “vinh quy bái tổ”. Một mặt, ông Hội đồng Trạch cho sửa soạn lại nhà cửa, trang hoàng thật lộng lẫy, một mặt ông sắm chiếc xe hơi loại mới nhất để ra bến cảng Sài Gòn đón cậu Ba Quy đưa về Bạc Liêu.</p>
<table class="picture max-width">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture full-width">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x576?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="video">
    <tbody>
        <tr>
            <td>
                <video width="660" height="370" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg"> Your browser does not support the video tag. </video>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <p>Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc Liêu.</p>
            </td>
        </tr>
    </tbody>
</table>
<h2><center> ===== Thẻ img không có table bao quanh =====</center></h2>
<img src="https://source.unsplash.com/random/1024x576?sig=3" alt="">