<div class="suggestion-multimedia">
    <h3 class="box-heading">
        <a href="#" class="heading">CÓ THỂ BẠN QUAN TÂM</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="../figurations/300x200.png" alt="">
                    <i class="ic-video"></i></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nga bí mật rút người, Tổng thống Putin thực sự muốn gì ở Ukraine?
                </a>
            </h5>
        </article>
    </div>
    <button class="more-news">
        tải thêm tin
    </button>
</div>