<div class="abf-homepage">
    <article class="story">
        <figure class="story__thumb">
            <a href="" title=""> <img src="https://source.unsplash.com/random/800x534?sig=1" alt="800x534 (3x2)"></a>
        </figure>
        <h3 class="story__heading">
            <a href="#">
                Chiều 18/12, Nghệ An ghi nhận 94 ca nhiễm Covid-19 mới, trong đó có 9 ca cộng đồng
                <i class="ic-type-interview"></i>
                <i class="ic-type-live"></i>
                <i class="ic-type-info"></i>
                <i class="ic-type-longform"></i>
                <i class="ic-type-img"></i>
                <i class="ic-type-audio"></i>
                <i class="ic-type-video"></i>
            </a>
        </h3>
        <div class="story__time">
            19:03 09/09/2021
        </div>
    </article>
    @@for (var i=0; i < 5; i++) { <article class="story">
        <figure class="story__thumb">
            <a href="" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)"></a>
        </figure>
        <h5 class="story__heading">
            <a href="#">
                Tập trung các nhiệm vụ trọng tâm về bảo vệ an toàn vùng biên giới trong tình hình mới
                <span class="ic-type-audio"></span>
            </a>
        </h5>
        </article>
        }
</div>