<div class="guest-list">
    <h3 class="box-heading">
        <a href="#" class="heading">
            danh sách khách mời
        </a>
    </h3>
    <div class="box-content scroll">
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Đ/c Nguyễn Ngọc Thanh</p>
                <p class="des">Vụ Trưởng, Trưởng Ban Nhân Dân điện tử</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Ông Vũ Quang Thành</p>
                <p class="des">Phó Giám đốc TT Dịch vụ việc làm Hà Nội</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">TS Ngô Quỳnh An</p>
                <p class="des">ĐH Kinh tế Quốc dân</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Đ/c Nguyễn Ngọc Thanh</p>
                <p class="des">Vụ Trưởng, Trưởng Ban Nhân Dân điện tử</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Đ/c Nguyễn Ngọc Thanh</p>
                <p class="des">Vụ Trưởng, Trưởng Ban Nhân Dân điện tử</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Ông Vũ Quang Thành</p>
                <p class="des">Phó Giám đốc TT Dịch vụ việc làm Hà Nội</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">TS Ngô Quỳnh An</p>
                <p class="des">ĐH Kinh tế Quốc dân</p>
            </div>
        </div>
        <div class="item d-flex">
            <div class="avatar">
                <img src="../figurations/100x100.png" alt="">
            </div>
            <div class="info">
                <p class="name">Đ/c Nguyễn Ngọc Thanh</p>
                <p class="des">Vụ Trưởng, Trưởng Ban Nhân Dân điện tử</p>
            </div>
        </div>
    </div>
</div>