<div class="article__picture">
    <div class="swiper photo-detail-img">
        <div class="swiper-wrapper">
            @@for (var i = 0; i < 5; i++) { 
                <figure class="swiper-slide">
                    <img src="https://source.unsplash.com/featured/560x560?sig=1" />
                    <figcaption>“Tỏa sáng Việt Nam-Amazing Vietnam” </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="https://source.unsplash.com/featured/1920x560?sig=1" />
                    <figcaption>Chủ nhiệm Ủy ban Kinh tế của Quốc hội Vũ Hồng Thanh báo cáo thẩm tra việc thu hồi đất, bồi thường, hỗ trợ, tái định cư Cảng Hàng không Quốc tế Long Thành. (Ảnh: Doãn Tấn/TTXVN)</figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="https://source.unsplash.com/featured/840x560?sig=1" />
                    <figcaption>Các tác phẩm từ cuộc thi Ảnh Xúc tiến, quảng bá du lịch năm 2022 với chủ đề “Tỏa sáng Việt Nam-Amazing Vietnam” sẽ là cơ sở hình thành hệ thống dữ liệu ảnh phục vụ công tác quảng bá, xúc tiến du lịch.</figcaption>
                </figure>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div thumbsSlider="" class="swiper photo-detail-thumb">
        <div class="swiper-wrapper">
            @@for (var i = 0; i < 15; i++) { 
                <figure class="swiper-slide">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" />
                </figure>
            }
        </div>
    </div>
</div>
