.breadcrumb {
    display: flex;
    align-items: baseline;

    li:first-child {
        .active {
            margin-right: 0;
            font-weight: normal;
            font-size: 32px;
            line-height: 47px;
            text-transform: uppercase;
            color: #000000 !important;
            margin-right: 32px;

            >* {
                margin-right: 0;
                font-weight: normal;
                font-size: 32px;
                line-height: 47px;
                text-transform: uppercase;
                color: #000000 !important;
            }
        }
    }


    a {
        font-family: "Oswald";
        font-weight: $font-weight-light;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-right: 16px;
        display: block;
        white-space: nowrap;

        &:hover {
            color: $hover !important;
        }

        >* {
            font-weight: $font-weight-light;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            display: block;

            &:hover {
                color: $hover !important;
            }
        }

        &.active {
            font-size: 20px;
            line-height: 30px;
            color: $hover !important;

            >* {
                color: $hover !important;
            }
        }


    }
}