<ul class="breadcrumb">
    <li> <a class="active" href="https://dev-baonghean.epi.vn/xa-hoi/">BÁO NGHỆ AN</a> </li>
    <li> <a href="https://dev-baonghean.epi.vn/quoc-phong/giao-duc-quoc-phong/" class="active"> Quốc phòng </a>
    </li>
    <li> <a href="https://dev-baonghean.epi.vn/bao-chi-ban-doc/tam-long-vang/"> Từ thiện </a> </li>
    <li> <a href="https://dev-baonghean.epi.vn/xa-hoi/tam-su/"> Gia đình </a> </li>
    <li> <a href="https://dev-baonghean.epi.vn/xa-hoi/tam-su/">
            Báo chí - Bạn đọc </a> </li>
</ul>