<div class="breadcrumbs">
    <h2 class="main"><a href="">Chính trị</a></h2>
    <h1 class="main"><a class="active" href="">Học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí
            Minh</a></h1>
    <div class="sub">
        <a href="#" class="active">Học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh</a>
        <a href="#" class="">Xây dựng Đảng</a>
        <a href="#" class="">Việt Nam và Thế giới</a>
        <a href="#" class="">Vững lòng biển đảo</a>
        <a href="#" class="">Nhân sự </a>
        <a href="#" class="">Cải cách hành chính</a>
    </div>
</div>