.breadcrumb {
    display: grid;
    gap: 15px;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: calc(100vw - 17px);
        height: 1px;
        background: var(--border-color);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .main {
        font-size: 56px;
        font-weight: var(--font-weight-semibold);
        line-height: 140%;
        text-transform: uppercase;
        a{
            color: var(--black, #000);
        }
    }

    .sub {
        display: flex;
        gap: 25px;

        a{
            color: var(--gray-900, #212529);
        }

        >* {
            font-size: 16px;
            font-weight: var(--font-weight-normal);
        }
        .active{
            color: var(--primary, #980700);
        }
    }
}