<div class="podcast-list">
    @@for (var i = 0 ; i < 20 ; i++) {
        <article class="story">
            <figure class="story__thumb">
                <a href="#">
                    <img src="https://source.unsplash.com/random/410x250?sig=1" alt="410x250 (16x9)">
                    <i class="ic-audio">
                        <span> 15:55</span>
                    </i>
                </a>
            </figure>
            <div class="story__meta">
                <a href="#">Bản tin thời sự</a>
            </div>
            <h5 class="story__heading">
                <a href="#" title="">
                    Giúp người khác mà người ta không tôn trọng thì có nên giúp đỡ họ nữa không?
                </a>
            </h5>
            <div class="story__summary">
                Lương tháng 6 triệu sau 15 năm đi dạy, cô Hương nói chỉ dám so thu nhập với người bán vé số.
                Cô Thảo thì tủi
                hổ khi thấy đồng nghiệp chật vật tới mức 1 quả trứng chia 3 cho 3 con nhỏ.
            </div>
        </article>
    }
</div>