<div class="article__body zce-content-body">
    @@include('./content-body/_typo.html')
    @@include('./content-body/_ul-ol.html')
    @@include('./content-body/_table-no-class.html')
    @@include('./../longform/longform.html')
    @@include('./content-body/_picture-video.html')
    @@include('./content-body/_quote.html')
    @@include('./content-body/_notebox.html')
    @@include('./content-body/_poll.html')
    @@include('./content-body/_article-relate.html')
    @@include('./content-body/_relate-topic.html')
    <!-- live. interview -->
    @@include('../interview/interview.html')
    @@include('../live/live.html')
    <!-- end -->
    @@include('./content-body/_related-news.html')
    <div class="article__source">
        <div class="wrap-source">
            <div class="avatar">
                <img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="info-author">
                <a href="" class="name">Nguồn Công Thương</a>
                <a href="" class="text">
                    https://congthuong.vn/nhung-giam-doc-doanh-nghiep-nao-o-nghe-an-bi-tam-hoan-xuat-canh-245331.html</a>
            </div>
        </div>
        <div class="wrap-source">
            <div class="avatar">
            </div>
            <div class="info-author">
                <a href="" class="name">Nguồn Công Thương</a>
            </div>
        </div>
    </div>
    @@include('./content-body/_author.html')

</div>
@@include('./content-body/_tags.html')
@@include('../comment/comment.html')