<div class="abf-multimedia">
    <div class="media-wrapper cms-body">
        <iframe src="https://youtube.com/embed/bsv87smYqtE?rel=0" width="100%" height="470"
            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="text-wrapper">
        <h1 class="article__title cms-title"> Nga không thể chủ động nhượng bộ khi đang là nạn nhân của phương Tây
        </h1> <time class="time" datetime="2022-02-04T20:03:00+0700">Thứ sáu, ngày 04/02/2022 - 20:03</time>
        <div class="article__sapo cms-desc"> (Baonghean.vn) - Là một nhà văn có lối viết sắc sảo, nếu chỉ đọc văn mà
            không tìm hiểu về Trần Hồng Giang, không ai có thể ngờ rằng những trang văn ấy được viết bởi một người
            khuyết tật. Sinh năm 1974 tại Nam Định, Trần Hồng Giang bị bại liệt khi 5 tuổi và từ đó cuộc đời anh đã
            hoàn toàn đổi khác. Không cam chịu trước số phận, muốn sống có ích cho đời, anh đã tự học, tự thu nạp.
        </div>
        <div class="box-social">
            <a href="#" class="zalo">
                <i class="ic-zalo">zalo </i>
            </a>
            <a href="#" class="facebook">
                <i class="ic-facebook">facebook </i>
            </a>
            <a href="#" class="google">
                <i class="ic-google">google </i>
            </a>
            <a href="#" class="twitter">
                <i class="ic-twitter">twitter </i>
            </a>
            <a href="#" class="mail">
                <i class="ic-mail">mail </i>
            </a>
        </div>
        <iframe
            src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=120&layout=button&action=like&size=small&share=true&height=65&appId"
            width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <p class="article__author cms-author"> Nhóm PV </p>
    </div>
</div>