.multi-pack-small {
    border: 1px solid #e21f26;
    padding: 12px;
    background: $white;

    .heading {
        font-family: "Oswald";
        font-weight: $font-weight-medium;
        line-height: 21px;
        color: #e21f26;
        font-size: 14px;

        &:hover {
            span {
                color: $hover;
            }
        }

        span {
            font-family: "Oswald";
            font-weight: $font-weight-medium;
            font-size: 22px;
            line-height: 33px;
            text-transform: uppercase;
            color: #e21f26;
            display: block;
            padding-top: 4px;
        }
    }

    .box-content {
        margin-top: 16px;
        max-height: 405px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .story {
        overflow: auto;
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            width: 80px;
            height: 60px;
            margin-right: 12px;
            float: left;
        }

        &__heading a {
            font-weight: $font-weight-normal;
            font-size: 14px;
            line-height: 160%;
            color: $primary;
        }
    }
}