<div class="multi-pack-small">
    <h3 class="box-heading">
        <a href="#" class="heading">Hoạt động của <span>thường trực tỉnh ủy</span> </a>
    </h3>
    <div class="box-content scroll">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/80x60?sig=1" alt="80x60 (4x3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/80x60?sig=1" alt="80x60 (4x3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/80x60?sig=1" alt="80x60 (4x3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/80x60?sig=1" alt="80x60 (4x3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
            </h5>
        </article>
    </div>
</div>