<div class="box-location">
    <h3 class="box-heading">
        <a href="#" class="heading"><i class="ic-local-news"></i> tin địa phương</a>
    </h3>
    <div class="box-content">
        <select name="cars" id="cars" class="list-location">
            <option value="volvo">Bà Rịa - Vũng Tầu</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <div class="wrap-story">
            @@for (var i=0; i < 6; i++) { <article class="story">
                <figure class="story__thumb">
                    <a href="#" title=""> <img src="https://source.unsplash.com/random/80x60?sig=1"
                            alt="80x60 (4x3)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Tuyên ngôn độc lập - Ý chí và khát vọng của dân tộc Việt Nam
                    </a>
                </h5>
                </article>
                }
        </div>
        <a href="#" class="see-more">xem thêm</a>
    </div>
</div>