<div class="box-comment">
    <h3 class="box-heading">
        <a href="#" class="heading">Bình luận</a>
    </h3>
    <div class="box-content">
        <div class="wrap-comment">
            <textarea rows="5" placeholder="Nhập nội dung bình luận"></textarea>
            <div class="w-100 mt-3 d-flex justify-content-between">
                <p>Vui lòng gõ tiếng việt có dấu</p>
                <button class="btn-Submit" data-toggle="modal" data-target="#ModalComments">Gửi
                    bình luận</button>
            </div>
        </div>
        <div class="user">
            <div class="topic-comment">
                <span class="avatar avatar-comment">
                    <img src="https://source.unsplash.com/random/100x100?sig=1" alt="">
                </span>
                <div class="content content-comment">
                    <p class="name info-author">Phạm Thị Loan</p>
                    <p class="text">Vậy ra ngân hàng rút tiền, chuyển tiền, đáo hạn, trả nợ có
                        được ra duòng không?</p>
                    <p class="tool comment-actions action-comment"><a class="btnLike cmt-like" href="#like"><span
                                class="icon-like"></span> Thích <span class="count">(1)</span></a><a
                            class="btnReply cmt-reply" href="#reply"><i class="fa fa-mail-reply"></i> Trả lời</a>
                    </p>
                    <div class="reply  action-comment-reply">
                        <textarea rows="5" placeholder="Nhập nội dung bình luận"></textarea>
                        <button class="btnSubmit disabled">Gửi trả lời</button>
                    </div>
                </div>
            </div>
            <div class="comment inner-comment">
                <div class="topic-comment">
                    <span class="avatar avatar-comment">
                        <img src="https://source.unsplash.com/random/100x100?sig=1" alt="">
                    </span>
                    <div class="content content-comment">
                        <p class="name info-author">Nguyễn Văn Tuấn</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p class="tool comment-actions action-comment">
                            <a href="#" class="btnLike active cmt-like-ed">
                                <span class="icon-like"></span> 5 Thích</a>
                            <a href="#" class="btnReply cmt-reply">Trả lời</a>
                        </p>
                    </div>
                </div>
                <div class="sub-comments sub-comment">
                    <div class="comment">
                        <span class="avatar avatar-comment">
                            <img src="https://source.unsplash.com/random/100x100?sig=1" alt="">
                        </span>
                        <div class="content content-comment">
                            <p class="name info-author">Chitien Nguyen</p>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.</p>
                            <p class="tool comment-actions action-comment">
                                <a href="#" class="btnLike active cmt-like-ed"><span class="icon-like"></span> 5
                                    Thích</a>
                                <a href="#" class="btnReply cmt-reply">Trả lời</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sub-comments sub-comment">
                    <div class="comment">
                        <span class="avatar avatar-comment">
                            <img id="cmt-user-avatar" src="" alt="">
                        </span>
                        <div class="content content-comment">
                            <p class="name info-author">Chitien Nguyen</p>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.</p>
                            <div class="tool comment-actions action-comment">
                                <a href="#" class="btnLike cmt-like"><span class="icon-like"></span> 5 Thích</a>
                                <a href="#" class="btnReply cmt-reply">Trả lời</a>
                                <div class="reply action-comment-reply">
                                    <textarea rows="5" placeholder="Nhập nội dung bình luận"></textarea>
                                    <div class="w-100 mt-3 d-flex">
                                        <button class="btn-Submit" data-toggle="modal" data-target="#ModalLogin">Gửi
                                            bình luận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment inner-comment no-sub-comment">
                <div class="topic-comment">
                    <span class="avatar avatar-comment">
                        <img src="https://source.unsplash.com/random/100x100?sig=1" alt="">
                    </span>
                    <div class="content content-comment">
                        <p class="name info-author">Nguyễn Văn Tuấn</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p class="tool comment-actions action-comment">
                            <a href="#" class="btnLike cmt-like"><span class="icon-like"></span> 5 Thích</a>
                            <a href="#" class="btnReply cmt-reply">Trả lời</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="comment inner-comment no-sub-comment last-comment">
                <div class="topic-comment">
                    <span class="avatar avatar-comment">
                        <img src="https://source.unsplash.com/random/100x100?sig=1" alt="">
                    </span>
                    <div class="content content-comment">
                        <p class="name info-author">Nguyễn Văn Tuấn</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p class="tool comment-actions action-comment">
                            <a href="#" class="btnLike cmt-like"><span class="icon-like"></span> 5 Thích</a>
                            <a href="#" class="btnReply cmt-reply">Trả lời</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-link btn-lg mt-3">XEM THÊM BÌNH LUẬN</button>
    </div>
</div>