<header class="site-header">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1 class="region-logo">
        <a href="index.html" class="logo">Nghệ An</a>
    </h1>
    <div class="wrap-search">
        <i class="ic-search"></i>
    </div>
</header>

<div class="navigation">
    <ul class="menu">
        <li class=""> <a href="https://m.baonghean.vn/thoi-su-chinh-tri/" title="Thời sự">Thời sự</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/dua-nghi-quyet-cua-dang-vao-cuoc-song/xay-dung-dang/"
                title="Xây dựng Đảng">Xây dựng Đảng</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/kinh-te/" title="Kinh tế">Kinh tế</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/xa-hoi/" title="Xã hội">Xã hội</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/giao-duc-khoa-hoc/" title="Giáo dục">Giáo dục</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/chuyen-doi-so/" title="Chuyển đổi số">Chuyển đổi số</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/doi-song-phap-luat/" title="Pháp luật">Pháp luật</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/the-thao/" title="Thể thao">Thể thao</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/y-te-suc-khoe/" title="Sức khỏe">Sức khỏe</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/giai-tri/" title="Giải trí">Giải trí</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/nghe-an-dat-va-nguoi/" title="Vô xứ Nghệ">Vô xứ Nghệ</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/quang-cao/" title="Bạn cần biết">Bạn cần biết</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/lao-dong-viec-lam/" title="Lao động">Lao động</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/doc-bao-in/" title="Đọc báo in">Đọc báo in</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/mediabna/" title="Truyền hình">Truyền hình</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/phong-su/" title="Phóng sự">Phóng sự</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/bao-nghe-an/" title="Báo Nghệ An">Báo Nghệ An</a> </li>
        <li class=""> <a href="/dia-phuong.html" title="Địa phương" target="_blank">Địa phương</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/bat-dong-san/" title="Bất động sản">Bất động sản</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/quoc-te/" title="Quốc tế">Quốc tế</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/xe/" title="Xe">Xe</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/suy-ngam/" title="Suy ngẫm">Suy ngẫm</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/emagazine/" title="eMagazine">eMagazine</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/podcast/" title="Podcast">Podcast</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/infographics/" title="Infographics">Infographics</a> </li>
    </ul>
    <div class="mask">mask</div>
</div>

<div class="search-wrapper">
    <div class="region-search">
        <input type="text" class="search" placeholder="Tìm kiếm...">
        <i class="ic-search"></i>
    </div>
    <div class="mask">mask</div>
</div>