@import './zce-common-body.scss';

// ----------------------------------
// INFO : style các box ngoài bài viết
// ----------------------------------
// style tags
.article__tag {
    display: flex;
    align-items: center;

    .title {
        font-weight: $font-weight-medium;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
    }

    .box-content {
        margin-left: 16px;
        display: flex;
        flex-wrap: wrap;

        >* {
            border: 1px solid #DEE2E6;
            border-radius: 8px;
            padding: 11px 8px;
            font-weight: 400;
            font-size: 15px;
            line-height: 8px;
            color: #212529;
            margin-left: 8px;

            &:hover {
                color: $primary;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.article__source {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;

    .wrap-source {
        display: flex;
        align-items: center;
        padding: 9px 12px;
        border-radius: 8px;
        position: relative;
        max-width: fit-content;
        margin-bottom: 16px;
        min-height: 50px;
        width: 100%;
        background: #f8f9fa;
        line-height: 20px;

        .avatar {
            overflow: hidden;
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 16px;
            background: #9e9e9e url(../img/copy.png) center center/14px no-repeat;

            img {
                width: 100%;
                color: transparent;
            }
        }

        .name {
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 20px;
            color: #495057;
        }

        .text {
            font-weight: $font-weight-normal;
            line-height: 20px;
            color: #6c757d;
            font-size: 14px;
        }
    }
}