<div class="article__body zce-content-body">
  <!-- Future -->
  @@include('./content-body/future/future.html')
  <!-- Audio -->
  @@include('./content-body/audio/audio.html')
  <!-- Avatar -->
  @@include('./content-body/avatar/avatar.html')
  <!-- <h1> to <h6> tags -->
  @@include('./content-body/heading-tags/heading-tags.html')
  <!-- ˂a˃ ˂b˃, ˂strong˃, ˂u˃, ˂i˃, ˂em˃, ˂ins˃, ˂s˃, ˂sub˃, ˂sup˃ tag -->
  @@include('./content-body/html-tags/html-tags.html')
  <!-- Lists -->
  @@include('./content-body/lists/lists.html')
  <!-- Tables ( no align attribute) -->
  @@include('./content-body/tables/tables.html')
  <!-- Twentytwenty -->
  @@include('./content-body/twentytwenty/twentytwenty.html')
  <!-- Image slider -->
  @@include('./content-body/image-slider/image-slider.html')
  <!-- Grid image -->
  @@include('./content-body/grid-image/grid-image.html')
  <!-- Table image -->
  @@include('./content-body/table-image/table-image.html')
  <!-- Figure image -->
  @@include('./content-body/figure-image/figure-image.html')
  <!-- Related topic -->
  @@include('./content-body/related-topic/related-topic.html')
  <!-- Article relate -->
  @@include('./content-body/article-relate/article-relate.html')
  <!-- Quote -->
  @@include('./content-body/quote/quote.html')
  <!-- Notebox -->
  @@include('./content-body/note/note.html')
  <!-- Poll -->
  @@include('./content-body/poll/poll.html')
  <!-- Quiz -->
  @@include('./content-body/quiz/quiz.html')
  <!-- Live -->
  @@include('./content-body/live/live.html')
  <!-- Interview -->
  @@include('./content-body/interview/interview.html')
  <!-- Author -->
  @@include('./content-body/author/author.html')
  <!-- Source -->
  @@include('./content-body/source/source.html')
  <!-- Old style -->
  @@include('./content-body/old-style/old-style.html')
</div>

<div class="article__footer">
  <!-- Related news -->
  @@include('./content-body/related-news/related-news.html')
  <!-- Tags -->
  @@include('./content-body/tags/tags.html')
  <!-- Comment -->
  @@include('./content-body/comment/comment.html')
</div>
