@import './zce-common-body.scss';
@import './zce-body.scss';

// style related-topic
.related-topic {
    background: #e9ecef;
    border: 1px solid #dddddd;
    padding: 21px 30px;

    .heading {
        font-family: "Quicksand";
        font-weight: $font-weight-bold;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
    }

    .box-content {
        margin-top: 16px;
    }

    .story {
        margin-top: 12px;

        &:first-child {
            margin-top: 0;
        }

        &__heading a {
            font-weight: $font-weight-bold;
            font-size: 16px;
            line-height: 20px;
            color: #343a40;
            padding-left: 20px;
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                content: "";
                width: 6px;
                height: 6px;
                background: #495057;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
            }
        }
    }
}

// style related-news
.related-news {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 24px 33px 33px;

    .heading {
        font-family: "Quicksand";
        font-weight: $font-weight-bold;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        pointer-events: none;
    }

    .box-content {
        margin-top: 16px;
    }

    .story {
        margin-top: 12px;

        &:first-child {
            margin-top: 0;
        }

        &__heading a {
            font-weight: $font-weight-bold;
            font-size: 16px;
            line-height: 20px;
            color: #343A40;
            padding-left: 20px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                width: 6px;
                height: 6px;
                background: #E9ECEF;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// style author
.article__author {
    display: flex;
    justify-content: end;

    .author {
        display: flex;
        margin: 0;
        align-items: center;

        &:not(:last-child):after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 100%;
            margin: 0 16px;
            background: #ddd;
        }

        * {
            margin-bottom: 0;
        }

        .avatar {
            overflow: hidden;
            position: relative;
            width: 24px;
            min-width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 8px;
            background: url("../img/no-ava.png") 0 0 / 24px no-repeat #e5e5e5;

            img {
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                width: 100%;
                color: transparent;
            }
        }

        .name {
            font-family: $font-family-sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #495057;
        }

        .text {
            font-size: 12px;
            line-height: 18px;
            color: $gray-600;
        }
    }

    .author:only-child {
        width: fit-content;
        padding: 4px 12px;
        background-color: $gray-100;
    }
}

// style tags
.article__tag {
    position: relative;
    background: url(../img/icon-key.png) left top 2px/24px no-repeat;

    .box-content {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding-left: 44px;

        a {
            background: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            margin-right: 12px;
            margin-bottom: 6px;
            padding: 4px 8px;
            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 160%;
            color: $primary;

            &:hover {
                color: $hover;
            }
        }
    }
}