<!-- Future -->
@@include('./content-body/future/future.html')

<div class="article__body zce-content-body">
  <ol>
    <li><a href=""> Future</a></li>
    <li><a href=""> Audio</a></li>
    <li><a href=""> Avatar</a></li>
    <li><a href=""> h1-h6> tags</a></li>
    <li>
      <a href="">
        ˂a˃ ˂b˃, ˂strong˃, ˂u˃, ˂i˃, ˂em˃, ˂ins˃, ˂s˃, ˂sub˃, ˂sup˃ tag</a
      >
    </li>
    <li><a href=""> Lists</a></li>
    <li><a href=""> Tables ( no align attribute)</a></li>
    <li><a href=""> Twentytwenty</a></li>
    <li><a href=""> Image slider</a></li>
    <li><a href=""> Grid image</a></li>
    <li><a href=""> Table image</a></li>
    <li><a href=""> Figure image</a></li>
    <li><a href=""> Related topic</a></li>
    <li><a href=""> Article relate</a></li>
    <li><a href=""> Quote</a></li>
    <li><a href=""> Notebox</a></li>
    <li><a href=""> Poll</a></li>
    <li><a href=""> Quiz</a></li>
    <li><a href=""> Live</a></li>
    <li><a href=""> Interview</a></li>
    <li><a href=""> Author</a></li>
    <li><a href=""> Source</a></li>
    <li><a href=""> Old style</a></li>
    <li><a href=""> Related news</a></li>
    <li><a href=""> Tags</a></li>
    <li><a href=""> Comment</a></li>
  </ol>
  <!-- Audio -->
  @@include('./content-body/audio/audio.html')
  <!-- Avatar -->
  @@include('./content-body/avatar/avatar.html')
  <!-- <h1> to <h6> tags -->
  @@include('./content-body/heading-tags/heading-tags.html')
  <!-- ˂a˃ ˂b˃, ˂strong˃, ˂u˃, ˂i˃, ˂em˃, ˂ins˃, ˂s˃, ˂sub˃, ˂sup˃ tag -->
  @@include('./content-body/html-tags/html-tags.html')
  <!-- Lists -->
  @@include('./content-body/lists/lists.html')
  <!-- Tables ( no align attribute) -->
  @@include('./content-body/tables/tables.html')
  <!-- Twentytwenty -->
  @@include('./content-body/twentytwenty/twentytwenty.html')
  <!-- Image slider -->
  @@include('./content-body/image-slider/image-slider.html')
  <!-- Grid image -->
  @@include('./content-body/grid-image/grid-image.html')
  <!-- Table image -->
  @@include('./content-body/table-image/table-image.html')
  <!-- Figure image -->
  @@include('./content-body/figure-image/figure-image.html')
  <!-- Related topic -->
  @@include('./content-body/related-topic/related-topic.html')
  <!-- Article relate -->
  @@include('./content-body/article-relate/article-relate.html')
  <!-- Quote -->
  @@include('./content-body/quote/quote.html')
  <!-- Notebox -->
  @@include('./content-body/note/note.html')
  <!-- Poll -->
  @@include('./content-body/poll/poll.html')
  <!-- Quiz -->
  @@include('./content-body/quiz/quiz.html')
  <!-- Live -->
  @@include('./content-body/live/live.html')
  <!-- Interview -->
  @@include('./content-body/interview/interview.html')
  <!-- Author -->
  @@include('./content-body/author/author.html')
  <!-- Source -->
  @@include('./content-body/source/source.html')
  <!-- Old style -->
  @@include('./content-body/old-style/old-style.html')
</div>

<div class="article__footer">
  <!-- Related news -->
  @@include('./content-body/related-news/related-news.html')
  <!-- Tags -->
  @@include('./content-body/tags/tags.html')
  <!-- Comment -->
  @@include('./content-body/comment/comment.html')
</div>
