<div class="article__body zce-content-body">
    @@include('./content-body/_typo.html')
    @@include('./content-body/_ul-ol.html')
    @@include('./content-body/_table-no-class.html')
    @@include('./../longform/longform.html')
    @@include('./content-body/_picture-video.html')
    @@include('./content-body/_quote.html')
    @@include('./content-body/_notebox.html')
    @@include('./content-body/_poll.html')
    <!-- live. interview -->
    <!-- @@include('../live/live.html')
    @@include('../interview/interview.html') -->
    <!-- end -->
    @@include('./content-body/_relate-topic.html', {"box-name" : "Chủ đề: Công tử Bạc Liêu"})
    @@include('./content-body/_related-news.html')
</div>
@@include('./content-body/_tags.html')
@@include('../comment/comment.html')

<!-- 
trong bài chi tiết, longform có tất cả 7 case, support bài longform trước :
2 case trái, phải : Class : align-left, align-right, att : align="left", align="right", align="center" 
2 : class outset : outset-left, outset-right 
3 case : class max-width, full-width, width = content
-->