@import './zce-common-body.scss';

// ----------------------------------
// INFO : style các box ngoài bài viết
// ----------------------------------
// style tags
.article__tag {
    display: flex;
    align-items: center;

    .title {
        font-weight: $font-weight-medium;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
    }

    .box-content {
        margin-left: 16px;
        display: flex;
        flex-wrap: wrap;

        >* {
            border: 1px solid #DEE2E6;
            border-radius: 8px;
            padding: 11px 8px;
            font-weight: 400;
            font-size: 15px;
            line-height: 8px;
            color: #212529;
            margin-left: 8px;

            &:hover {
                color: $primary;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.article__source {
    background: #f8f9fa;
    padding: 9px 12px;
    line-height: 1.4;

    .name {
        font-weight: $font-weight-medium;
        font-size: 14px;
        line-height: 20px;
        color: #495057;
    }

    .text {
        font-weight: $font-weight-normal;
        line-height: 20px;
        color: #6c757d;
        font-size: 14px;
    }
}