// style global
// style layout
@mixin tableNotBorder {

    td,
    th {
        padding: 0 !important;
        border: none !important;
    }
}

@mixin classLeftRight {

    &.align-left {
        width: 50%;
        float: left;
        margin-right: 16px;
        margin-bottom: 16px;
    }

    &.align-right {
        width: 50%;
        float: right;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    @include tableNotBorder();
}

@mixin alignLeftRight {
    &[align="center"] {
        width: 100%;
    }

    &[align="left"] {
        width: 50%;
        float: right;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    &[align="right"] {
        width: 50%;
        float: left;
        margin-right: 16px;
        margin-bottom: 16px;
    }

    @include tableNotBorder();

}

@mixin classOutsetLeftRightDetail {

    &.outset-left {
        margin-left: auto;
    }

    &.outset-right {
        margin-right: auto;
    }

    @include tableNotBorder();
}

.zce-content-body {
    img {
        max-width: 100%;
        width: auto;
        display: flex;
        margin: 0 auto;
    }

    .caption {
        font-size: 14px;
        line-height: 21px;
        color: #6C757D;
        text-align: center;
        margin-top: 8px;
        display: block;
        font-weight: $font-weight-normal;

        >* {
            margin-top: 0;
        }
    }

    //stle table defaut 
    table:not([class]) {
        width: 100%;

        td,
        th {
            padding: 10px;
            border: 1px solid #E9ECEF;
        }
    }


    // style layout
    table,
    blockquote,
    .notebox,
    .box-poll {
        @include classLeftRight();
        @include alignLeftRight();
    }
}