<div class="box-news">
    <h3 class="box-heading">
        <a href="" class="heading">tin mới</a>
    </h3>
    <div class="box-content">
        @@for (var i=0; i < 5; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1"
                        alt="300x200 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Chủ động ứng phó với bão số 5 trong bối cảnh dịch Covid-19
                </a>
            </h5>
            </article>
            }
    </div>
</div>