.box-news {
    margin-top: 30px;

    .heading {
        font-family: 'Oswald';
        font-weight: $font-weight-medium;
        font-size: 25px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E21F26;
    }

    .box-content {
        margin-top: 12px;
    }

    .story {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            width: 33%;
            height: 20vw;
            max-height: 112px;
            float: left;
            margin-right: 12px;
        }

        &__heading a {
            font-weight: $font-weight-normal;
            font-size: 15px;
            line-height: 23px;
            color: #212529;
        }

    }
}