<div class="abf-homepage">
    <div class="left">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/120x80?sig=1" alt="120x80 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    <i class="ic-type-audio"></i>
                    <i class="ic-type-video"></i>
                    <i class="ic-type-img"></i>
                    <i class="ic-type-interview"></i>
                </a>
            </h5>


        </article>
        @@for (var i = 0; i < 3; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/120x80?sig=1" alt="120x80 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    <i class="ic-type-info"></i>
                    <i class="ic-type-longform"></i>
                    <i class="ic-type-live"></i>
                    <i class="ic-type-emagazine"></i>
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time>
            </div>
            </article>
            }
    </div>
    <div class="center">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/570x380?sig=1"
                        alt="570x380 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Trung Quốc tổ chức lễ hỏa táng nguyên Tổng Bí thư, Chủ tịch Giang Trạch Dân
                    <i class="ic-type-img"></i>
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time> </div>
            <div class="story__summary">
                Nhiều khả năng, các trường hợp dương tính với chất cấm (doping) sẽ được công bố danh tính chính thức vào
                trung tuần tháng 3 này.
            </div>
        </article>
    </div>
    <div class="right">
    </div>
</div>