.abf-homepage {
    display: flex;
    justify-content: space-between;

    .left {
        min-width: 270px;
        width: 270px;

        >* {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #E9ECEF;

            &:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top: 0;
            }
        }

        .story {
            &__thumb {
                width: 120px;
                height: 80px;
                float: left;
                margin-right: 16px;
            }

            &__heading a {
                font-size: 17px;
                font-weight: $font-weight-medium;
                line-height: 25px;
            }
            &__meta {
                margin-left: 136px;
            }
        }
    }

    .center {
        min-width: 570px;
        width: 570px;

        .story {
            &__thumb {
                width: 570px;
                height: 380px;
            }

            &__heading {
                margin-top: 16px;
                line-height: 39px;

                a {
                    font-size: 30px;
                    font-weight: $font-weight-semibold;
                }
            }

            &__meta {
                margin-top: 10px;

                .time {
                    display: block;
                    font-weight: $font-weight-normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: #adb5bd;
                }
            }

            &__summary {
                margin-top: 8px;
                font-size: 15px;
                color: #6C757D;
            }
        }
    }

    .right {
        min-width: 270px;
        width: 270px;
    }
}