.timeline-article {
    position: relative;
    width: calc(100vw - 17px);
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    margin-top: -30px;
    background: var(--gray-900, #212529);
    padding: 100px 0;
    gap: 100px;
    align-items: center;
    .container{
        display: grid;
        grid-template-columns: 610px 1fr;
        >.text-wrap{
            margin-bottom: 0;
        }
    }

    .article__avartar{
        margin-left: auto;
    }

    .article__sub-title{
        color: var(--white, #fff);
        font-size: 18px;
        font-weight: 400;
        text-transform: unset;
        border: 1px dashed #ccc;
        padding: 6px 12px;
        width: fit-content;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .05);
        a{
            color: var(--white, #fff);
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .article__title {
        color: var(--white, #fff);
        font-family: $font-family-second;
        font-size: 36px;
        font-weight: $font-weight-medium;
        line-height: 130%;
        margin-bottom: 30px;
    }

    .article__sapo {
        color: var(--gray-200, #e9ecef);
        font-size: 18px;
        font-weight: $font-weight-normal;
        line-height: 140%;
    }

}