.longform {
    max-width: 822px !important;
    margin: 0 auto;

    // INFO : style for table longform
    table.picture {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: max-content;
        margin: inherit;
        max-width: 1300px;

        &.full-width {
            max-width: calc(100vw - 17px);
        }

        &.max-width {
            max-width: 1600px;

            @media (max-width: 1600px) {
                max-width: calc(100vw - 17px);

            }
        }

        &[align=right],
        &[align=left] {
            transform: translateX(0);
            left: 0;
        }

        &[align=left] {
            margin-left: 0;
        }

        &[align=right] {
            margin-right: 0;
        }

        .caption {
            text-align: center;
            max-width: 822px;
            margin: 8px auto 0;

            >* {
                margin-top: 5px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

    }

    // INFOR :style for table in box
    blockquote,
    .notebox,
    .live-zone,
    .interview-zone {

        table.picture,
        table.video {
            width: 100%;

            &[align=right],
            &[align=left] {
                width: 50%;
            }
        }
    }

    .box-social {
        display: none;

        @media (min-width: 1760px) {
            display: block;
            margin-left: -465px;
        }
    }


}