<strong>max-width w=1600</strong>
<table class="picture max-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/2024x400?sig=1" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture max-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1000x400?sig=1" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture max-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/500x200?sig=1" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<strong>full-width</strong>
<table class="picture full-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/400x200?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture full-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/1024x400?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture full-width" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/3000x400?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<strong>table thường w=content</strong>
<table class="picture" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/500x200?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/900x400?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>
<table class="picture" align="center">
    <tbody>
        <tr>
            <td class="img"><img src="https://source.unsplash.com/random/3000x400?sig=2" alt=""></td>
        </tr>
        <tr>
            <td class="caption">Nhà Lớn (gồm 2 tòa nhà) của Hội đồng Trần Trinh Trạch, nay là khách sạn Công Tử Bạc
                Liêu.</td>
        </tr>
    </tbody>
</table>