.infographic-page,
.longform-page {
    .site-body {
        margin-top: 0;
    }

    .article {
        width: 660px;
        margin: 0 auto 50px;

        .article__meta {
            justify-content: center;
        }

        &__avatar {
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            width: max-content;
            max-width: calc(100vw - 17px);

            img {
                width: 100%;
                border-radius: 0;
            }

            figcaption,
            .caption {
                color: var(--gray-600, #6c757d);
                font-size: 14px;
                font-weight: $font-weight-normal;
                line-height: 140%;
                font-style: italic;
                position: relative;
                margin-top: 10px;
                padding-bottom: 8px !important;
                text-align: center;
                display: block;

                &::before {
                    position: absolute;
                    content: "";
                    width: 60px;
                    height: 1px;
                    background: #CED4DA;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .breadcrumb,
        .article__sub-title,
        .article__title,
        .article__sapo {
            text-align: center;
            justify-content: center;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            width: max-content;
            max-width: 1170px;
        }
    }

    .zce-content-body {
        table {
            display: table;
        }

        .social-pin {
            margin-left: -200%;
            left: 20px;
        }
    }

    .box-related-news {
        .box-content {
            gap: 30px;
        }
    }
}

.infographic-page {
    figure:not([class]) {
        position: relative;
        width: 1200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .article-photo {
        position: relative;
        width: 1200px;
        left: 50%;
        transform: translateX(-50%);
    }
}