.abf-cate {
    .story:first-child {
        overflow: hidden;

        .story__thumb {
            width: 100%;
            height: 61vw;
            max-height: 338px;
            float: none;
        }

        .story__heading a {
            font-weight: $font-weight-bold;
            font-size: 20px;
            line-height: 32px;
            padding-top: 12px;
        }

        .ic-watching {
            width: 135px;
            height: 45px;

            &:before {
                font-size: 24px;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
            }
        }

        .ic-video {
            width: 50px;
            height: 50px;

            &::before {
                font-size: 23px;
            }
        }

        .ic-audio {
            height: 36px;

            &::before {
                font-size: 20px;
            }
        }
    }

    .story {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        .story__thumb {
            width: 33%;
            height: 20vw;
            max-height: 112px;
            float: left;
            margin-right: 12px;
            position: relative;
        }

        .story__heading a {
            font-weight: $font-weight-normal;
            font-size: 16px;
            line-height: 24px;
            color: #212529;
        }

        .ic-watching {
            width: 90px;
            height: 30px;
            border-radius: 26px;
            position: absolute;
            left: 12px;
            bottom: 12px;
            display: flex !important;
            align-items: center;
            font-weight: 500;
            color: #fff;
            background: rgba(226, 31, 38, .6);
            font-size: 12px;

            &:before {
                content: "\e902";
                font-size: 14px;
                margin-right: 5px;
            }

            span {
                font-family: "Quicksand";
            }
        }

        .ic-video {
            position: absolute;
            left: 12px;
            bottom: 12px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(255, 255, 255, .6);

            &::before {
                content: "\e902";
                font-size: 14px;
            }
        }

        .ic-audio {
            height: 30px;
            padding: 0 8px;
            position: absolute;
            bottom: 12px;
            left: 12px;
            font-size: 14px;
            line-height: 32px;
            color: #fff;
            display: flex;
            align-items: center;
            width: fit-content;
            background: rgba(0, 0, 0, 0.4);

            &::before {
                font-size: 20px;
            }

            span {
                font-family: "Quicksand";
                margin-left: 5px;
            }
        }
    }
}