<div class="box-filter">
    <div class="form-field">
        <label for="">Thời gian</label>
        <select id="cars" name="cars">
            <option value="value1">Tất cả</option>
            <option value="value2">option 1</option>
        </select>
    </div>
    <div class="form-field">
        <label for="">Chuyên mục</label>
        <select id="" name="">
            <option value="value1">Tất cả</option>
            <option value="value2">option 1</option>
        </select>
    </div>
    <div class="form-field">
        <label for="">Dạng bài</label>
        <select id="" name="">
            <option value="value1">Tất cả</option>
            <option value="value2">option 1</option>
        </select>
    </div>
    <div class="form-field">
        <label for="">Tìm theo</label>
        <select id="" name="">
            <option value="value1">Tất cả</option>
            <option value="value2">option 1</option>
        </select>
    </div>
    <input class="btn-search" type="submit" value="Tìm">
</div>