.error {
    text-align: center;
    padding-top: 410px;
    background: url(../img/error.png?021123) top center no-repeat;

    >* {
        margin-top: 25px !important;
    }

    .title {
        font-weight: var(--font-weight-semibold);
        font-size: 30px;
        line-height: 36px;
        color: var(--gray-900, #212529);
        margin-bottom: 30px;
    }

    .des {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        color: var(--gray-800, #343a40);
        margin-top: 16px !important;
        max-width: 300px;
        margin: 0 auto;
    }

    .home {
        color: var(--primary, #980700);
    }

    .region-search {
        position: relative;
        margin: 0 auto;
        width: 600px;
        height: 64px;

        input {
            background: #F8F9FA;
            border: 1px solid #E9ECEF;
            border-radius: 6px;
            padding: 4px 4px 4px 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            outline: none;
            left: 0;

            &::placeholder {
                font-weight: var(--font-weight-normal);
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #ADB5BD;
            }
        }

        i {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 56px;
            height: 56px;
            background: var(--primary, #980700);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: var(--white, #fff);
            cursor: pointer;
        }
    }
}