<div class="local-news">
    <h3 class="box-heading">
        <a href="" class="title">địa phương</a>
    </h3>
    <div class="box-content">
        <div class="district">
            <p class="active"><i class="ic-location"></i>Sa Pa</p>
            <p class=""><i class="ic-location"></i>Sa Pa</p>
            <p class=""><i class="ic-location"></i>Si Ma Cai</p>
            <p class=""><i class="ic-location"></i>Văn Bàn</p>
            <p class=""><i class="ic-location"></i>Mường Khương</p>
            <p class=""><i class="ic-location"></i>Bảo Thắng</p>
        </div>
        @@for (var i = 0; i < 4; i++) { 
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/random/120x80?sig=1" alt="120x80 (3x2)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    </a>
                </h5>
            </article>
        }
    </div>
</div>