<div class="list-epaper">
    <div class="box-content">
      @@for (var i = 0; i < 5; i++) {
          <article class="story">
            <figure class="story__thumb">
              <a href="" title="">
                <img src="https://source.unsplash.com/random/161x231?sig=1" alt="161x231 (2x3)">
              </a>
            </figure>
            <h5 class="story__heading">
              <a href="#">
                BÁO SỐ 24592
              </a>
            </h5>
            <div class="story__meta">
              <time class="time">Ngày 04-03-2023</time>
            </div>
          </article>
      }
    </div>
    <button class="more-news">
      xem thêm ...
    </button>
  </div>