<div class="popular-news">
    <h3 class="box-heading">
        <a href="#" class="heading"> <i class="ic-book"></i> tin đọc nhiều</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet consectetur
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Vincom Retail trúng đấu giá lô đất thương mại tại trung tâm TP Điện Biên Phủ
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Vincom Retail trúng đấu giá lô đất thương mại tại trung tâm TP Điện Biên Phủ
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Vincom Retail trúng đấu giá lô đất thương mại tại trung tâm TP Điện Biên Phủ
                </a>
            </h5>
        </article>
    </div>
</div>