.timeline {
    padding-top: 16px;
    border-top: 1px solid $border-color;
    margin-top: 12px;

    .story {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            width: 33%;
            height: 20vw;
            max-height: 112px;
            float: left;
            margin-right: 12px;
        }

        &__heading a {
            font-weight: $font-weight-normal;
            font-size: 16px;
            line-height: 24px;
            color: #212529;
        }
    }

    .icon-video {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }

    .icon-headphones {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        height: 23px;
        bottom: 4px;
        left: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 23px;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 6px 0 30px;
        font-family: "Quicksand";
        width: fit-content;
    }
}