<div class="article__sub-title">
    Việt Nam có một lượng di sản công nghiệp không nhỏ, bao gồm các cơ sở sản xuất.
</div>
<div class="article__title">
    Chiến lược tạo đà, mở đường tăng trưởng của Singapore
</div>
<div class="article__meta">
    <p class="author-name">Hoài thu, hoàng anh</p>
    <p class="source-wrapper">Theo Ngọc Trâm - VNexpress</p>
    <time class="time">Thứ sáu, ngày 17/09/2021 - 11:16</time>
    <a class="gg-news" href="#">
        <span>Theo dõi Báo Nghệ An trên</span>
        <img src="../styles/img/gg-news.png" alt="">
    </a>
    <div class="social">
        <a href="#" class="zalo">
            <i class="ic-zalo">zalo </i>
        </a>
        <a href="#" class="facebook">
            <i class="ic-facebook">facebook </i>
        </a>
        <a href="#" class="google">
            <i class="ic-google">google </i>
        </a>
        <a href="#" class="twitter">
            <i class="ic-twitter">twitter </i>
        </a>
        <a href="#" class="mail">
            <i class="ic-mail">mail </i>
        </a>
    </div>
    <div class="fb-like">
        <iframe
            src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=120&amp;layout=button&amp;action=like&amp;size=small&amp;share=true&amp;height=65&amp;appId"
            width="120" height="65" scrolling="no" frameborder="0" allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
@@include("../../component/audio/audio.html")
<div class="article__sapo"> Chuyên đề “Chiến lược tái mở cửa, phục hồi kinh tế trong dịch Covid-19”
    cung cấp góc nhìn đa chiều, bài học kinh nghiệm của những quốc gia có chỉ số phục hồi kinh tế
    khả quan trên thế giới, mặc dù nguy cơ dịch bệnh vẫn tiềm ẩn.
</div>