<header class="site-header ">
    <div class="container">
        <div class="top-header">
            <div class="left">
                <a href=""><i class="ic-phone"></i> Hotline: 3462 623 784</a>
                <a href=""><i class="ic-phone"></i> Mail gửi tòa soạn</a>
                <a href=""><i class="ic-phone"></i> Liên hệ quảng cáo</a>
                <a href=""><i class="ic-phone"></i>
                    <span>English</span>
                    <span>China</span>
                </a>
            </div>
            <div class="right">
                <div class="social">
                    <a href="" class="fb">fb</a>
                    <a href="" class="yt">yt</a>
                    <a href="" class="zl">zl</a>
                </div>
                <div class="search">
                    <input type="text" class="input-search" placeholder="Tìm kiếm">
                    <i class="ic-search">icon-search</i>
                </div>
            </div>
        </div>
        <div class="content-header">
            <a href="index.html" class="logo">logo</a>
        </div>
    </div>
    <div class="navigation sticky">
        <ul class="menu">
            <li><a href="" class="ic-home">home</a></li>
            <li><a href="" class="active">chính trị</a></li>
            <li><a href="">kinh tế</a></li>
            <li><a href="">xã hội</a></li>
            <li><a href="">văn hóa</a></li>
            <li><a href="">du lịch</a></li>
            <li><a href="">CHuyển đổi số</a></li>
            <li><a href="">Bạn đọc</a></li>
            <li><a href="">review lào cai</a></li>
            <li><a href="">pháp luật</a></li>
            <li><a href="">thể thao</a></li>
            <li><a href="">địa phương</a></li>
            <li><a href="">đọc báo in</a></li>
            <li class="extend">
                <a href="" class="ic-menu">extend</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Sub-menu 1</a>
                    </li>
                    <li>
                        <a href="#" class="active">Sub-menu 2</a>
                    </li>
                    <li>
                        <a href="#">Sub-menu 3</a>
                    </li>
                    <li>
                        <a href="#">Sub-menu 4</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>