<header class="site-header">
    <div class="toolbar">
        <div class="container">
            <p class="left time">Thứ Sáu, ngày 17/12/2021</p>
            <div class="right">
                <ul class="list-content">
                    <li><a href="#">Báo Nghệ An</a></li>
                    <li><a href="#">Hotline: (023)83.588138</a></li>
                    <li><a href="#">Mail gửi tòa soạn</a></li>
                    <li><a href="#">Liên hệ đặt báo</a></li>
                    <li><a href="#">Quảng cáo</a></li>
                </ul>
                <div class="social">
                    <a href="#" class="ic-facebook">facebook</a>
                    <a href="#" class="ic-youtube">youtube</a>
                </div>
                <div class="search">
                    <input type="text" class="input-search" placeholder="Tìm kiếm">
                    <i class="ic-search">icon-search</i>
                </div>
            </div>
        </div>
    </div>
    <div class="region-logo">
        <h1>
            <a href="index.html" class="logo">logo-NgheAn</a>
        </h1>
    </div>
    <div class="region-menu sticky">
        <ul class="container menu">
            <li class="active"><a href="#" class="ic-home">home</a></li>
            <li><a href="#" class="">thời sự</a>
                <ul class="sub-menu">
                    <li><a href="#" class="active">Lorem ipsum dolor sit dfdf.</a></li>
                    <li><a href="#">sub-menu 2</a></li>
                    <li><a href="#">sub-menu 3</a></li>
                    <li><a href="#">sub-menu 4</a></li>
                </ul>
            </li>
            <li><a href="#" class="">xây dựng đảng</a></li>
            <li><a href="#" class="">kinh tế</a></li>
            <li><a href="#" class="">xã hội</a></li>
            <li><a href="#" class="">giáo dục</a></li>
            <li><a href="#" class="">pháp luật</a></li>
            <li><a href="#" class="">thể thao</a></li>
            <li><a href="#" class="">sức khoẻ</a></li>
            <li><a href="#" class="">giải trí</a></li>
            <li><a href="#" class="">vô xứ nghệ</a></li>
            <li><a href="#" class="">bạn cần biết</a></li>
            <li class="humburger"><a href="#" class="ic-menu">humburger</a>
                <ul class="sub-menu">
                    <li><a href="#">sub-menu 1</a></li>
                    <li><a href="#" class="active">sub-menu 2</a></li>
                    <li><a href="#">sub-menu 3</a></li>
                    <li><a href="#">sub-menu 4</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>