<div class="banner">
  <div class="banner_show">
    <img src="https://placehold.co/960x94" alt="" />
  </div>
</div>
<header class="header-home site-header">
  <div class="sticky">
    <div class="container">
      <i class="ic-menu"></i>
      <i class="ic-bell"></i>
      <a href="index.html" class="small-logo">logo</a>
      <ul class="menu">
        <li><a href="">Tiếng việt</a></li>
        <li><a href="">English</a></li>
        <li><a href="">Français</a></li>
        <li><a href="">Español</a></li>
        <li><a href="">中文</a></li>
        <li><a href="">Русский</a></li>
      </ul>
      <div class="search-wrapper">
        <i class="ic-search"></i>
        <input type="text" class="search" placeholder="Tìm kiếm" />
      </div>
      <i class="ic-profile"></i>
    </div>
  </div>
  <h1>
    <a href="index.html" class="logo">logo</a>
  </h1>
</header>
<div class="navigation">
  <ul class="menu">
    <li><a href="">Trang chủ</a></li>
    @@for (var i = 0; i < 5; i++) {
    <li>
      <a href="">Chính trị</a>
      <i class="ic-right"></i>
      <ul class="sub-menu">
        @@for (var i = 0; i < 5; i++) {
        <li><a href="">Giáo dục</a></li>
        }
      </ul>
    </li>
    } @@for (var i = 0; i < 10; i++) {
    <li>
      <a href="">Chính trị</a>
    </li>
    }
    <li class="media-center">
      <a href="">Media Center</a>
      <ul class="sub-menu media">
        @@for (var i = 0; i < 5; i++) {
        <li><a href="">Giáo dục</a></li>
        }
      </ul>
    </li>
    <li><a href="">end</a></li>
  </ul>
</div>
