@mixin font-header {
    font-family: "Quicksand";
    font-weight: $font-weight-normal;
    font-size: 12px;
    line-height: 20px;
    color: #343a40;
    display: block;

    @media (min-width: 1366px) {
        font-size: 14px;
    }
}

.site-header {
    .toolbar {
        height: 33px;
        background: #ffffff;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);

        .container {
            height: 33px;
            justify-content: space-between;
            display: flex;

        }
    }

    .right {
        align-items: center;
        display: flex;
    }

    .time {
        @include font-header();
        margin-bottom: 0;
    }

    .list-content {
        margin-bottom: 0;
        align-items: center;
        display: flex;

        li {
            border-left: 1px solid #E9ECEF;
            list-style: none;

            &:first-child {
                border-left: none;
            }
        }

        a {
            @include font-header();
            padding: 0 8px;

            &:hover {
                color: $third;
            }
        }
    }

    .social {
        margin: 0 12px;
        display: flex;
        align-items: center;

        >* {
            margin-left: 8px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                margin-left: 0;
            }
        }

        .ic-facebook {
            background-color: #3b5998;

            &::before {
                font-size: 20px;
                color: #fff;
            }
        }

        .ic-youtube {
            background-color: #ff0000;

            &::before {
                font-size: 16px;
                color: #fff;
            }
        }
    }

    .ic-search {
        position: absolute;
        right: 5px;
        padding: 6px;
        top: 2px;
        cursor: pointer;

        &::before {
            font-size: 16px;
            color: #343A40;
            font-weight: $font-weight-bold;
        }
    }


    .input-search {
        width: 150px;
        height: 28px;
        background: #fff3cd;
        border-radius: 4px;
        padding: 8px 35px 8px 12px;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        font-family: "Quicksand";

        &::placeholder {
            font-family: "Quicksand";

            font-weight: $font-weight-normal;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
        }

        @media (min-width: 1366px) {
            width: 206px;
        }
    }

    .search {
        position: relative;
        margin-bottom: 3px;
    }

    // style logo
    .region-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        background: #fffaec url(../img/bg-logo.png) center center/1822px 170px no-repeat;
    }

    .logo {
        background: url(../img/logo.png) center center/283px 114px no-repeat;
        width: 283px;
        height: 114px;
        display: block;
        margin: 0 auto;
        font-size: 0;
        padding: 81px;
    }

    // style menu
    .region-menu {
        height: 36px;
        background: #e21f26;
        z-index: 1000;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .menu {
        position: relative;
        left: -6px;
        align-items: center;
        display: flex;

        >li {
            position: relative;
            list-style: none;


            &:hover,
            &.active {
                a {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }

        .humburger {
            position: absolute;
            right: 0;

            .sub-menu {
                right: 0;
            }
        }

        li:hover .sub-menu {
            display: block;
        }

        a {
            font-family: "Oswald";
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: $white;
            display: flex;
            align-items: center;
            height: 36px;
            margin: 0 5px;
            padding: 0 5px;
            white-space: nowrap;

            &.ic-home {
                font-size: 0;

                &::before {
                    font-size: 24px;
                }
            }

            &.ic-menu {
                font-size: 0;

                &::before {
                    font-size: 20px;
                }
            }
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 36px;
        width: 150px;
        background: $white;
        z-index: 9999;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding-left: 0;

        a {
            color: #e21f26;
            background-color: $white !important;
            margin: 0 auto;
            padding: 10px;
            display: block;
            white-space: normal;
            height: auto;

            &.active,
            &:hover {
                background-color: #e21f26 !important;
                color: $white !important;
            }
        }
    }
}

.cate-en {
    .logo {
        background: url(../img/Logo-tieng-Anh.png) center center/293px 136px no-repeat;
        width: 293px;
        height: 136px;
        display: block;
        margin: 0 auto;
        font-size: 0;
        padding: 81px;
    }
}