<div class="box-trending">
    <h3 class="box-heading">
        <a href="#" class="heading"> <i class="ic-most-read"></i> tin đọc nhiều</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Bộ Công an đưa vào sử dụng APP “VNEID” để khai báo y tế và di chuyển nội địa
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Bộ Công an đưa vào sử dụng APP “VNEID” để khai báo y tế và di chuyển nội địa
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Bộ Công an đưa vào sử dụng APP “VNEID” để khai báo y tế và di chuyển nội địa
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Bộ Công an đưa vào sử dụng APP “VNEID” để khai báo y tế và di chuyển nội địa
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Bộ Công an đưa vào sử dụng APP “VNEID” để khai báo y tế và di chuyển nội địa
                </a>
            </h5>
        </article>
    </div>
</div>