.box-story {
    margin-top: 24px;

    .heading {
        font-family: "Oswald";
        font-weight: $font-weight-medium;
        font-size: 25px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E21F26
    }

    .box-content {
        margin-top: 8px;
    }

    .story {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $border-color;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__heading a {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .story:first-child {
        .story__thumb {
            width: 100%;
            height: 61vw;
            max-height: 338px;
        }

        .story__heading a {
            font-weight: $font-weight-bold;
            font-size: 20px;
            line-height: 32px;
            padding-top: 12px;
        }
    }

    .story:nth-child(2) {
        .story__thumb {
            width: 33%;
            height: 23vw;
            height: auto;
            float: left;
            margin-right: 12px;
            border-radius: 4px;
        }

        .story__heading {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #212529;
        }
    }
}