<div class="multimedia">
    <div class="wrap-heading">
        <h3 class="box-heading">
            <a href="" class="title">multimedia</a>
        </h3>
        <div class="sub-title">
            <a href="#" title=""><i class="ic-tivi"></i>Truyền hình</a>
            <a href="#" title=""><i class="ic-podcast"></i>Podcast</a>
            <a href="#" title=""><i class="ic-e-ma"></i>E-magazine</a>
            <a href="#" title=""><i class="ic-img"></i>Góc ảnh</a>
        </div>
    </div>
    <div class="box-content">
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
                <figure class="story__thumb">
                        <a href="" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1" alt="300x200 (3x2)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    </a>
                </h5>
            </article>
        }
    </div>
</div>