<div class="abf-homepage">
    <div class="abf-homepage__col-left">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/130x90?sig=1" alt="130x90 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sita, amet consectetur
                    <i class="ic-type-img"></i>
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/130x90?sig=1" alt="130x90 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem, ipsum.
                    <i class="ic-type-interview"></i>
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/130x90?sig=1" alt="130x90 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem, ipsum.
                    <i class="ic-type-video"></i>
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/130x90?sig=1" alt="130x90 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem, ipsum.
                    <i class="ic-type-info"></i>
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/130x90?sig=1" alt="130x90 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem, ipsum.
                    <i class="ic-type-longform"></i>
                </a>
            </h5>
        </article>
    </div>
    <div class="abf-homepage__col-center">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/560x300?sig=1" alt="560x300 (16x9)"></a>
            </figure>
            <h2 class="story__heading">
                <a href="#">
                    Chiều 18/12, Nghệ An ghi nhận 94 ca nhiễm Covid-19 mới, trong đó có 9 ca cộng đồng
                    <i class="ic-type-live"></i>
                </a>
            </h2>
            <div class="story__summary">
                <p>(Baonghean.vn) - 9 ca cộng đồng (Thanh Chương: 5; Nghĩa Đàn: 4), 85 ca đã được cách ly từ trước (39
                    ca là F1, 34 ca trong khu phong tỏa, 9 ca từ các tỉnh miền Nam về, 3 ca ở tỉnh khác).</p>
            </div>
            <h5 class="story__sub-heading">
                <a href="#" title=""> Nghệ An kỷ niệm 60 năm Ngày truyền thống ngành Dân số<i
                        class="ic-type-longform"></i> </a>
                <a href="#" title=""> Nghệ An kỷ niệm 60 năm Ngày truyền thống ngành Dân số <i
                        class="ic-type-video"></i></a>
            </h5>
        </article>
    </div>
    <div class="abf-homepage__col-right">
        @@include('../multi-pack-small/multi-pack-small.html')
        <div class="banner">
            <div class="banner_show">
                <img src="https://source.unsplash.com/random/400x300?sig=1" alt="130x90 (3x2)">
            </div>
        </div>
    </div>
</div>