.box-tag {
    margin-top: 32px;

    @include heading;

    .box-content {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;

        a {
            background: #ffffff;
            border: 1px solid #dee2e6;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 4px 12px 4px 8px;


            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 160%;
            color: $primary;
            margin-right: 8px;
            margin-bottom: 8px;

            &:hover {
                color: $hover;
            }
        }
    }
}