<div class="box-media">
    <h3 class="box-heading">
        <a href="#" class="heading"> <i class="ic-video"></i> Truyền hình Báo Nghệ An</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/260x170?sig=1"
                        alt="260x170 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Liên Xô sụp đổ, Tổng thống Putin sửa chữa nỗi 'ô nhục' của Gorbachev
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, sunt! Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Doloremque voluptate fuga
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/260x170?sig=1"
                        alt="260x170 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Liên Xô sụp đổ, Tổng thống Putin sửa chữa nỗi 'ô nhục' của Gorbachev
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/260x170?sig=1"
                        alt="260x170 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Liên Xô sụp đổ, Tổng thống Putin sửa chữa nỗi 'ô nhục' của Gorbachev
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/random/260x170?sig=1"
                        alt="260x170 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Liên Xô sụp đổ, Tổng thống Putin sửa chữa nỗi 'ô nhục' của Gorbachev
                </a>
            </h5>
        </article>
    </div>
</div>