.box-link {
    margin-top: 32px;

    @include heading;

    .box-content {
        margin-top: 8px;
    }

    .select-web {
        width: 300px;
        height: 36px;
        background: $white;
        border: 1px solid #e9ecef;
        outline: none;
        padding: 8px;
        font-family: "Quicksand";

        font-weight: $font-weight-semibold;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #495057;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
        background: url(../img/arrow-down.png) center right 8px/8px no-repeat;
    }
}