 <!-- modal vote -->
 <div class="modal" data-target="voteModal">
     <div class="modal-header">
         <h5 class="modal-title">Kết quả</h5>
     </div>
     <div class="modal-body scroll">
         <h4 class="heading-body">Liệu có nên phạt nặng các học sinh đánh nhau, tổ chức đánh người trong môi trường
             giáo dục không ?</h4>
         <div class="modal-vote">
             <ul class="">
                 <li>
                     <div class="info-result">
                         <div class="text">Tăng cường giáo dục</div>
                         <div class="color-bar">
                             <span percent="91" class="color-result" style="width:91%;">
                                 <label class="text-result">91%</label>
                             </span>
                         </div>
                         <div class="number">
                             <label>2.330</label>
                             phiếu
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="info-result">
                         <div class="text">Đình chỉ học tập</div>
                         <div class="color-bar">
                             <span percent="91" class="color-result" style="width:9%;">
                                 <label class="text-result">9%</label>
                             </span>
                         </div>
                         <div class="number">
                             <label>2.33</label>
                             phiếu
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="info-result">
                         <div class="text">Tăng cường giáo dục</div>
                         <div class="color-bar">
                             <span percent="91" class="color-result" style="width:9%;">
                                 <label class="text-result">9%</label>
                             </span>
                         </div>
                         <div class="number">
                             <label>2.33</label>
                             phiếu
                         </div>
                     </div>
                 </li>
             </ul>
             <div class="clearfix">
                 <span class="total-vote">Tổng Cộng: <label>2.552 phiếu</label></span>
             </div>
         </div>
     </div>
     <div class="modal-footer">
         <button type="button" class="btn-close">Đóng</button>
     </div>
 </div>
 <div class="modal" data-target="userInfoModal">
     <div class="modal-header">
         <h5 class="modal-title">Thông tin người dùng</h5>
     </div>
     <div class="modal-body scroll">
         <h4 class="heading-body">Để gửi bình luận bạn vui lòng cung cấp thông tin:</h4>
         <div class="form-group">
             <label for="">Họ và tên</label>
             <input type="text" class="form-control" placeholder="Nhập họ tên">
             <small class="feedback">invalid</small>
         </div>
         <div class="form-group">
             <label for="">Email</label>
             <input type="email" class="form-control" placeholder="Nhập email">
             <small class="feedback">invalid</small>
         </div>
     </div>
     <div class="modal-footer">
         <button type="button" class="btn-close">Đóng</button>
         <button type="button" class="btn-submit">Tạo tài khoản</button>
     </div>
 </div>