<div class="article__sub-title">
    Sự sống bí ẩn trong khói núi lửa dưới biển sâu
</div>
<div class="article__title">
    Viện Vi sinh vật biển Max Planck phát hiện một loài bất thường đang phát triển mạnh nhờ hydro ở độ sâu hơn 2500 m
    dưới băng biển Bắc Cực.
</div>
<div class="article__meta">
    <div class="row">
        <span class="author"><i class="ic-pen"></i> Hoàng Thu</span>
        <time class="time"><i class="ic-calendar"></i> Thứ sáu, ngày 17/09/2021 -
            11:16</time>
    </div>
    <div class="row">
        <iframe
        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=120&amp;layout=button&amp;action=like&amp;size=small&amp;share=true&amp;height=65&amp;appId"
        width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <div class="social">
            <a href="" class="zl">zl</a>
            <a href="" class="tw">tw</a>
            <a href="" class="print">tw</a>
            <a href="" class="mail">tw</a>
        </div>
        <a class="gg-news" href="#">
            <span>Theo dõi Báo ABC trên</span>
            <img src="../styles/img/gg-news.png" alt="">
        </a>
    </div>
</div>
<div class="article__sapo">
    Vùng nước sâu tối tăm và lạnh giá, nhưng dễ bùng nổ do hoạt động của núi lửa ngầm có vẻ không
    phải là nơi thích hợp cho sự sống. Tuy nhiên, một khám phá mới được công bố trên tạp chí Nature hôm 9/3 đã gây kinh
    ngạc cho các nhà khoa học.
</div>
@@include("../audio/audio.html")