<div class="article__sub-title">
  Sự sống bí ẩn trong khói núi lửa dưới biển sâu
</div>
<div class="article__title">
  Trung Quốc sẵn sàng thúc đẩy hợp tác song phương cùng có lợi với Đức
</div>
<div class="article__sapo">
  Ngoại trưởng Iran cho biết: "Nếu các bên khác sẵn sàng, chúng tôi nghiêm túc
  quay trở lại JCPOA để tất cả các bên thực hiện nghĩa vụ của mình tro ng khuôn
  khổ sáng kiến của Oman.”
</div>
<div class="article__meta">
  <span class="author">Thanh Tú</span>
  <time class="time">01/10/2023 18:10</time>
</div>
