// html global
html {
  font-size: 62.5% !important;
}

$body-bg: #fff;
$body-color: #343A40;
$font-family-sans-serif: "URW Geometric", Arial, Helvetica, sans-serif;
$font-family-serif: "Noto Serif", Arial, Helvetica, sans-serif;
$font-family-second: "Playfair Display", Arial, Helvetica, sans-serif;


$font-size-base: 1.4rem;
$gutter-body : 20px;
$gutter-zone-v : 40px;

// Fonts-weight
$font-weight-italic: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-semibolder: 800;
$font-weight-extraBold: 900;


// Breakpoint for responsive
$md :768px;
$lg :1024px;
$xl: 1280px;

// 768px
:root {
  --gutter: 30px;
  --container: 730px;
  // color
  --primary: #980700;
  --secondary: #842029;
  --title: #212529;
  --summary: #6C757D;
  --border-color: #E9ECEF;
  --hover: #980700;

  // color default
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}


:root.dark-theme {
  
}


// 1024px
@media (min-width: $lg) {
  :root {
    --container: 980px;
  }
}

// 1280px
@media (min-width: $xl) {
  :root {
    --container: 1170px;
  }
}