<div class="podcast">
    <div class="wrap-content">
        <div class="text-wrapper">
            <time class="time" datetime="2022-02-17T19:33:00+0700">Thứ năm, ngày
                17/02/2022 - 19:33</time>
            <h1 class="article__title"> Kỷ niệm cuối với nhạc sĩ Nguyễn Tài Tuệ </h1>
            <div class="article__sapo"> (Baonghean.vn) - Giờ thì nhạc sĩ Nguyễn Tài Tuệ đã về miền mây
                trắng, về với thế hệ những người anh, người bạn tài hoa như các nhạc sĩ Văn Cao, Lưu Hữu Phước,
                Phạm Đình Sáu… </div>
        </div>
        <div class="img-wrapper">
            <img src="https://source.unsplash.com/random/400x225?sig=1" alt="400x225 (16x9)">
        </div>
    </div>
    <div class="wrap-podcast">
        <div class="tts-player">
            <div class="wrap">
                <button class="btn-prev"></button>
                <button class="play-button"> <span><i class="ic-audio-pause"></i></span></button>
                <button class="btn-next"></button>
            </div>
            <span class="mute-wrap">
                <button class="mute-button">
                    <i class="ic-audio-volume"></i>
                </button>
                <div class="wrap-volume">
                    <div class="volume-slider" id="volume-slider">
                        <div class="volume-slider-handle"></div>
                    </div>
                </div>
            </span>
            <div class="progress-bar" id="progress-bar"> <span class="bg"></span>
                <div class="wrap-recent"> <span class="fill-recent"> <span class="current_time">0:00</span>
                    </span> </div>
            </div>
        </div>
    </div>
    <div class="region-author">
        <div class="container">
            <p class="article__author">
                Tác giả: Phạm Thanh Thuý • Giọng đọc: Hồ Nữ Thị • Lời bình: Quỳnh An (Viện Hàn lâm Khoa học Việt
                Nam)
            </p>
        </div>
    </div>
</div>