    .podcast {
        margin-top: 20px;
        padding-top: 70px;
        background: url(../img/bg-podcast.png) center center/100% 100% no-repeat;
        text-align: center;

        .wrap-content {
            max-width: 975px !important;
            overflow: auto;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            @media (min-width: 1366px) {
                max-width: 1150px !important;
            }

            .img-wrapper {
                width: 400px;
                height: 225px;
                margin: 0;

                img {
                    width: 100%;
                }
            }

            .time {
                font-family: "Quicksand";
                font-weight: $font-weight-medium;
                font-size: 16px;
                line-height: 160%;
                color: #343a40;
            }

            .article__title {
                font-weight: $font-weight-bold;
                font-size: 38px;
                line-height: 150%;
                color: $primary;
            }

            .article__sapo {
                margin-top: 20px !important;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: $primary;
                display: block;
                background: transparent;
                padding: 0;
            }

            .text-wrapper {
                margin: 0 !important;
                max-width: 543px !important;
                text-align: left;
            }
        }

        .wrap-podcast {
            background: rgba(153, 116, 4, 0.3);
            max-width: 100% !important;
            margin-top: 63px !important;
            clear: both;
        }

        // style audio
        .tts-player {
            max-width: 975px !important;
            border: none;
            background: none;
            height: 90px;
            margin: 0 auto;

            @media (min-width: 1366px) {
                max-width: 1030px !important;
            }

            .wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }

            .progress-bar {
                background-color: transparent;
                max-width: 695px;
                margin: 0 auto;

                &:hover .bg,
                &:hover .fill-recent {
                    top: 50%;
                }

                &:hover .current_time {
                    top: -9px;
                }

                .bg {
                    border-top: 2px solid;
                    border-color: #cc9a06;
                }

                .fill-recent {
                    width: 0;
                    border-color: rgba(102, 77, 3, 0.6);
                }

                .bg,
                .fill-recent {
                    top: 50%;
                }

                .current_time {
                    top: -5px;
                }
            }

            .mute-button {
                padding: 0;
                outline: none;

                &:hover i {
                    color: #664d03;
                }

                i {
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 28px;
                    text-align: center;
                    color: #664d03;
                    cursor: pointer;
                }
            }

            .btn-prev {
                width: 36px;
                height: 40px;
                background: url(../img/prev-audio.png) center center/36px no-repeat;
            }

            .btn-next {
                width: 36px;
                height: 40px;
                background: url(../img/next-audio.png) center center/36px no-repeat;
            }

            .play-button {
                padding-left: 0;
                margin: 0 23px;
                outline: none;
                justify-content: center;

                &:hover i {
                    background: transparent;
                }

                i {
                    border-radius: 50%;
                    font-size: 60px;
                    color: #664d03;
                }

                span {
                    background-color: transparent;
                    border: none;

                    i.ic-audio-pause {
                        &::before {
                            content: "\e908";
                            font-size: 70px;
                        }
                    }

                    i.ic-audio-play {
                        &::before {
                            content: "\e909";
                            font-size: 70px;
                        }
                    }

                }
            }

            .mute-wrap {
                position: absolute;
                right: 0;
                top: -20px;
                cursor: pointer;
                padding-top: 50px;

                &:hover .wrap-volume {
                    display: block;
                    background: rgba(0, 0, 0, 0.7);
                }

                &:hover .volume-slider {
                    width: 31px !important;
                    // background: rgba(255, 255, 255, 0.8);
                    margin-right: 0 !important;
                }

                &:hover .wrap-volum {
                    margin-right: 0 !important;
                    width: 31px !important;
                }

                .wrap-volume {
                    height: 190px;
                    background: rgba(255, 255, 255, 0.2);
                    padding: 15px 0;
                    border-radius: 50px;
                    top: -180px;
                    position: absolute;
                    left: 9px;
                    display: none;
                }

                .volume-slider {
                    width: 31px;
                    height: 160px;

                    .volume-slider-handle {
                        width: 15px;
                        height: 15px;
                        background-color: #ffc107;
                        left: 7px;
                        top: 151px;
                    }

                    .volume-slider-handle:after {
                        background: #ffc107;
                        border-radius: 60px;
                        width: 3px;
                        height: 160px;
                        top: 17px;
                        left: 6px;
                    }

                    .volume-slider-handle:before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: -160px;
                        margin-top: 0;
                        width: 3px;
                        height: 160px;
                        background: #664d03;
                        border-radius: 60px;
                        left: 6px;
                    }
                }
            }
        }


        .region-author {
            max-width: 100% !important;
            min-height: 44px;
            background: #e9ecef;

            .container {
                width: 1182px !important;
            }

            .article__author {
                max-width: 1182px !important;
                font-family: "Quicksand";
                font-weight: $font-weight-semibold;
                font-size: 16px;
                line-height: 29px;
                text-align: right;
                letter-spacing: 0.04em;
                color: #495057;
                min-height: 44px;
                display: flex;
                align-items: center;
                justify-content: end;
                padding: 12px 0;
            }
        }
    }