.location {
    display: flex;
    flex-wrap: wrap;

    .item {
        width: calc(25% - 29px);
        background: rgba(226, 31, 38, .05);
        border: 1px solid rgba(226, 31, 38, .2);
        box-sizing: border-box;
        border-radius: 99px;
        min-height: 50px;
        padding: 13px 12px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 26px;
        color: #e21f26;
        margin-right: 29px;
        margin-top: 16px;
        transition: .5s;

        &:nth-child(-n+4) {
            margin-top: 0;
        }

        &:hover {
            background: #fff;
        }
    }

    .ic-location {
        &::before {
            font-size: 28px;
            margin-right: 4px;
        }
    }
}