<div class="box-multimedia">
    <h3 class="box-heading">
        <a href="#" class="heading">Đa phương tiện</a>
        <ul class="list-social">
            <li><a href="#"><i class="ic-tv">media</i> Truyền hình</a></li>
            <li><a href="#"><i class="ic-podcast">podcast</i> Podcast</a></li>
            <li><a href="#"><i class="ic-e-magazine">magazine</i> E-Magazine</a></li>
            <li><a href="#"><i class="ic-youtube">youtube</i> Kênh Youtube</a></li>
        </ul>
    </h3>
    <div class="box-content">
        @@for (var i=0; i < 8; i++) { <div class="topics">
            <article class="story">
                <figure class="story__thumb">
                    <a href="#" title="">
                        <img src="https://source.unsplash.com/random/600x400?sig=1" alt="600x400 (3x2)">
                    </a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Kỹ sư người Nghệ đặt nền móng cho ngành luyện kim Việt Nam
                    </a>
                </h5>
            </article>
    </div>
    }
</div>
</div>